[2017-10-24 11:16] slawojstanislawski opened #1 "Error when running unit test"
Component:
[code]

Unit test:
[code]
Console output when running npm run test:
[code]
Windows 10
Node 8.0
Typescript 2.3.4
Angular: 4.3.1

[2017-10-24 12:50] slawojstanislawski commented on #1
Ok, it turns out I had a slightly older version of @types/jasmine, switching to version 2.6.0 fixed it. Closing.

[2017-10-24 12:50] #1 closed

[2017-12-07 10:45] euangoddard opened #3 "Add option to defer initial host change detection"
I've been trying to test a directive with `EasyTestWithHost` and it's fantastic for all my cases save one -- I have one test case where I need to set-up a spy which I know should get triggered in the initial change detection cycle (in `ngAfterContentInit` in my case).

If I do `TestBed.get(token)` before I called `this.create()` (in order to spy on a method), I get an error saying `overrideCompone

[2017-12-07 11:33] NetanelBasal commented on #3
Thanks, this is a great idea. I am quite busy right now, but I would love to see a PR.

[2017-12-07 11:35] NetanelBasal commented on #3
I think you can add a little example, so others ( or me ) will try to add this too.

[2017-12-07 12:35] euangoddard commented on #3
Let me see if I can chop down my code to a simple use-case to give a concrete example

[2017-12-07 12:50] euangoddard commented on #3
Here's an example of the problem: https://gist.github.com/euangoddard/d5f63ab13153fac5e99789b406293e6a

This use-case is a lot more simplistic than I have and in the example given I could override the provider when I set up the testing module. That option isn't available to me in the real case

[2017-12-07 12:55] NetanelBasal commented on #3
This is the line where change detection is triggered:
https://github.com/NetanelBasal/ngx-easy-test/blob/master/src/easy-test.ts#L165
Try remove it temporarily and see if it's working.

[2018-04-01 15:35] NetanelBasal commented on #3
We have new API with support for your request. Check it.

[2018-04-01 15:35] #3 closed

[2018-04-03 08:06] euangoddard commented on #3
That looks perfect. I'll try it out when I get a chance. Many thanks for this!

[2018-04-04 15:43] fr0 opened #5 "Complex Input properties"
Great library! Looking forward to trying it out.

In your example, you have:

[code]

I was curious to know if you've thought of a way to pass complex objects as input parameters instead of just simple primitives. I occasionally create components that require this, usually receiving those objects from another component.

For example, It could be useful to be able to do something like this:

[code]

[2018-04-04 18:31] NetanelBasal commented on #5
You can do this:
[code]

Or you need something more than that?

[2018-04-04 18:34] NetanelBasal commented on #5
The second way is to use custom host component:

[code]

[2018-04-04 18:49] NetanelBasal commented on #5
Done. Now you can also write it like that:
[code]

[2018-04-04 18:49] #5 closed

[2018-04-04 18:56] fr0 commented on #5
Thanks! That definitely solves my problem.

[2018-04-04 21:13] fr0 opened #6 "Add a way to add entryComponents to module metadata"
Described here:  https://angular.io/guide/entry-components

Components that dynamically load other components by type need this, and it seems like a simple thing to add to spectator by changing [config.ts](https://github.com/NetanelBasal/spectator/blob/master/src/lib/src/config.ts).

Thanks!

[2018-04-05 07:57] NetanelBasal commented on #6
Added a built-in support for this.

[2018-04-05 08:02] NetanelBasal commented on #6
You can now do the following:
[code]

[2018-04-05 08:02] #6 closed

[2018-04-05 08:16] NetanelBasal commented on #5
Already added. https://netbasal.gitbooks.io/spectator/components/testing-component-with-host.html

[2018-04-05 08:17] splincode commented on #5
@NetanelBasal Oh, Thank you))

[2018-04-05 18:17] fr0 opened #7 "Suggestion: toBeEmpty() should ignore comment nodes"
I'm using `toBeEmpty()` to ensure that an element with a sub-element that has either an `*ngFor` or an `*ngIf` contains no children, but both of those directives add a comment node to the DOM, which causes `toBeEmpty()` to return `false`.

If you don't like this idea, maybe adding another matcher that has this behavior is a better alternative.

[2018-04-07 09:28] AhnpGit opened #8 "Configure type auto completion for IDE"
Hi,

I want to configure typing autocompletion when using your library but I couldn't find anything in the README. Would you please tell me how to configure it ?

[2018-04-07 17:41] NetanelBasal commented on #8
You should get autocompletion. It's written in typescript.

[2018-04-07 17:42] NetanelBasal commented on #7
makes sense to me. Will add it. Thanks!

[2018-04-07 17:45] AhnpGit commented on #8
hmm I think because I was using Jest and @types/jest instead of jasmine, that was why IDE didn't suggest any code completions. I already found a workaround that I declare a namespace jest inside typings.d.ts similar to your typing declarations.

[2018-04-07 17:46] NetanelBasal commented on #8
The library does not support jest. It's for jasmine.

[2018-04-07 17:55] AhnpGit commented on #8
thank you for your reply. Even though it supports for jasmine but it also works with jest. I tested it with my repo. That made me happy 👍

[2018-04-07 17:55] #8 closed

[2018-04-07 18:00] NetanelBasal commented on #7
When you test ngIf you should use `toExist()`.

[2018-04-09 17:02] bengry opened #9 "dispatchKeyboardEvent doesn't work as expected"
Adding the following to `ZippyComponent`:
[code]

and adding the following test:
[code]

Will **fail**, though it's expected to **succeed**.

The following alternative code in (plain) Angular **works** (notice the differences in the `pressEnter` function):
[code]

[2018-04-10 07:57] slawojstanislawski opened #11 "Could it work with Jest?"
I would like to use this library with Jest testing framework, however when I follow the instructions provided on this repo https://github.com/thymikee/jest-preset-angular I'm getting errors:
`Cannot read property 'hostFixture'/'testedComponent'/'create'  of null`.

[2018-04-10 09:08] bengry commented on #11
Can you repro this on a sample repo by any chance? I use it on a project of
mine at work with Jest and it works fine.

On Tue, Apr 10, 2018, 10:57 slawojstanislawski <notifications@github.com>
wrote:

[2018-04-10 10:05] bengry commented on #9
I'm not sure, but it's not an issue with Spectator as much as its a logical issue in general.
The recommended way is to pass the `key` and not a `keyCode`, since the former conveys the logical meaning which the latter the physical key. e.g. the "regular" `ENTER` key has a different keyCode than the `NUMPAD ENTER` key.

[2018-04-10 14:41] NetanelBasal commented on #9
I also making `getNativeElement()` private, It's only for internal use.

[2018-04-10 14:43] #9 closed

[2018-04-10 14:48] NetanelBasal commented on #7
Closing for now, if you have an issue with `toExist()` reopen it.

[2018-04-10 14:48] #7 closed

[2018-04-10 14:49] NetanelBasal commented on #11
In general, It supports jasmine, but @bengry says it is working with jest, so maybe he can help.

[2018-04-10 15:31] slawojstanislawski commented on #11
I've been using the library since it came out under a different name, and it used `function(this: Context)`, I didn't notice the change to arrow functions. Now I checked and in fact it's working fine with jest. Awesome library btw.

[2018-04-10 15:31] #11 closed

[2018-04-10 15:49] NetanelBasal commented on #11
Thanks :)

[2018-04-10 16:26] bengry opened #12 "Project isn't aligned with its own set standards"
The code is mentioned to be formatted using Prettier, and uses TSLint. However, the code within it is not conforming to the latter, and the use of Prettier's formatting isn't automatic via a pre-commit hook.

[2018-04-10 19:03] NetanelBasal commented on #12
https://github.com/NetanelBasal/spectator/blob/master/package.json#L27

[2018-04-12 04:07] NetanelBasal commented on #12
Closing as it's working as expected.

[2018-04-12 04:07] #12 closed

[2018-04-12 16:51] bengry commented on #12
@NetanelBasal Some file ([example](https://github.com/NetanelBasal/spectator/blob/master/src/app/zippy/zippy.component.ts)) aren't aligned with the Prettier configuration. Am I missing something?

[2018-04-30 08:47] Dyljyn opened #13 "Setting up a host for a directive with providers"
### Problem

I have a use case where a directive makes use of a service.
However, I can not figure out how to set this up with `createHostComponentFactory`.

[code]

Giving the following error (because it's a directive and not a component?)

[code]

### Example code

https://stackblitz.com/edit/spectator-directive-providers?file=app%2Fapp-unless.directive.spec.ts

[Angular docs]: https://angular.i

[2018-04-30 08:52] NetanelBasal commented on #13
I see where is the problem, let me investigate.

[2018-04-30 08:52] NetanelBasal commented on #13
It's not related to the service, it's related to the structural directive.

[2018-04-30 09:27] NetanelBasal commented on #13
Fixed in 1.4.4

https://stackblitz.com/edit/spectator-structural-directive-y16jdw?file=app/app-unless.directive.spec.ts

Thanks!

[2018-04-30 09:27] #13 closed

[2018-05-15 17:50] PsychicCat opened #14 "angular 6?"
Any plans to support angular 6 soon (without needing rxjs-compat)?

[2018-05-15 19:26] NetanelBasal commented on #14
Spectator doesn't depend on Rx. Did you encounter a problem with version 6?

[2018-05-15 19:27] PsychicCat commented on #14
Hm, might just be that rxjs-lint failed to fix my imports in spec files. I will close this, must be a problem on my end. Thanks btw!

[2018-05-16 06:48] kafs1696 opened #15 "Not able to test if a Function has been called from constructor."
This is my code :
**//app.component.ts**
`beforeEach(() => {
    spectator = createComponent({}, false);
    app = spectator.debugElement.componentInstance;
    translate = TestBed.get(TranslateService);
  });

  it('should create the app', async(() => {
    spyOn(spectator.component, 'setupLanguage').and.callThrough();
    spectator.fixture.detectChanges();
    app = spectator.debugElement.compon

[2018-05-16 06:52] NetanelBasal commented on #15
This is not related to spectator. You should spy on the method before creating the component. For example:
`spyOn(AppComponent.prototype, "method")`

[2018-05-16 06:52] #15 closed

[2018-05-16 06:56] kafs1696 commented on #15
Thank you @NetanelBasal. I followed your example and the test passed.

[2018-05-17 20:29] bengry commented on #14
I agree that most of the community is going forward, but at least from my experience at work, we upgraded to Angular 6 and things are working fine as far as Spectator goes, I didn’t have to change a thing (using it with Jest, so YMMV).

However, if the rxjs is only used for a single type, I think that just requiring rxjs as a `peerDependency` with `^5.5` should be fine. No?

On 17 May 2018, 23:21

[2018-05-17 20:31] bengry commented on #14
I agree that most of the community is going forward, but at least from my experience at work, we upgraded to Angular 6 and things are working fine as far as Spectator goes, I didn’t have to change a thing (using it with Jest, so YMMV).

However, if the rxjs is only used for a single type, I think that just requiring `rxjs` as a `peerDependency` with `^5.5` should be fine. No?

[2018-05-17 20:32] NetanelBasal commented on #14
@bengry

I agree that most of the community is going forward, but at least from my experience at work, we upgraded to Angular 6 and things are working fine as far as Spectator goes, I didn’t have to change a thing (using it with Jest, so YMMV).

However, if the rxjs is only used for a single type, I think that just requiring rxjs as a `peerDependency` with `^5.5` should be fine. No?

[2018-05-17 20:33] NetanelBasal commented on #14
No, because it used as a type, and the import path is different in version 6. But I really don't see it as a problem for time being to install rx-compact as dev dependency.

[2018-05-17 20:37] bengry commented on #14
Again, agreed in theory, but in practice I think it increases the entry barrier to using Spectator, especially for new projects that have no other dependencies that need rxjs < 6.

In our case things work simply because we do have other package that require the rxjs-compat package, but as soon as those are gone it’s going to be harded to reason about why we’re keeping the compat library as a depen

[2018-05-17 20:39] NetanelBasal commented on #14
I reopen the issue. Let's wait another month before we upgrade.

[2018-05-17 21:05] PierreDuc commented on #14
Perhaps release the v6 support on the `next` branch on npm? Although it's not a big issue to have rxjs-compat as a dependency. There it's just used as a type inside spectator, it doesn't matter for tree shaking anyways

[2018-05-18 06:48] NetanelBasal commented on #14
I opened the `next` branch and upgrade to Angular 6, but it seems that it still needs `rxjs-compat`.

[2018-05-18 20:01] bengry commented on #14
@NetanelBasal I took a look at the code that uses rxjs in the library (`next` branch):
[code]

the `Observable` type is not only used as a type as previously mentioned, but also at runtime (of the tests), with the `instanceof` keyword.

On another matter, what seems to need `rxjs-compat`? I didn't see anything that may need it.

[2018-05-20 19:18] NetanelBasal commented on #14
You can see it yourself by pulling the `next` branch. It seems that the Observable type definition file is pointing to the compact package.

[2018-05-24 06:38] kafs1696 opened #16 "Cannot test a component with nested service dependency"
Following your Widget Example,
Lets Say I have a Test  **Component A** that depends on **Service B**, where **Service B** also depends on **Service C**. If i add the service B to Mocks, i still get the error saying "No provider for Service C". Isn't is supposed to mock the dependency tree? How can i solve this error?

**Test Error**
![screen shot 2018-05-24 at 12 51 59 pm](https://user-images.gith

[2018-05-24 08:52] NetanelBasal commented on #16
Yes, it should, can you reproduce it in [stackblitz](https://stackblitz.com/edit/spectator?file=app%2Fhello.component.spec.ts) so I can help you, please?

[2018-06-01 12:05] jpzwarte opened #18 "Missing types for query() method"
According to internals.d.ts, the query method has the following types:
[code]

That means that you have to cast the return value of the query method when passing a selector before you can use it. Can't we change the API so you can do: ```spectator.query<HTMLElement>('a').click()```?

[2018-06-01 12:06] jpzwarte opened #19 "Docs error: host.query instead of host.get"
On https://netbasal.gitbooks.io/spectator/components/providers.html there is an error on the last line:

```const queryService = host.query<QueryService>(QueryService, true);```

should read:

```const queryService = host.get<QueryService>(QueryService, true);```

[2018-06-01 12:35] jpzwarte commented on #18
Isn't it simply just a question of changing ```Element``` to ```R``` here? https://github.com/NetanelBasal/spectator/blob/master/src/lib/src/internals.ts#L69

[2018-06-01 12:39] NetanelBasal commented on #19
Thanks, updated.

[2018-06-01 12:39] #19 closed

[2018-06-01 12:41] NetanelBasal commented on #18
In general, you are right. It's a question of what is the more common case? If you most of the times query for DOM element it's more convenient. Don't you think so?

[2018-06-01 12:42] jpzwarte commented on #18
Then perhaps change the return value to ```HTMLElement``` instead of ```Element``` so common things like ```.click()``` work without having to cast the return value?

[2018-06-01 12:45] jpzwarte commented on #18
Because i didn't know that API existed 😁

[2018-06-01 12:45] NetanelBasal commented on #18
It will click and trigger change detection for you.

[2018-06-01 12:45] jpzwarte commented on #18
Excellent! Just changed my test to use that API :)

[2018-06-01 12:46] NetanelBasal commented on #18
https://netbasal.gitbooks.io/spectator/api.html

[2018-06-01 12:46] jpzwarte commented on #18
I guess we can close this issue then.

[2018-06-01 12:46] #18 closed

[2018-06-01 12:48] NetanelBasal commented on #18
I love your idea, but it means that if I changed it, everyone would get the `any` type. It means that you must pass a type.

`spectator.query<HTMLButtonElement>("button");`

[2018-06-01 12:49] jpzwarte commented on #18
You could do ```query<R = Element>(directiveOrSelector: string, options?: { read }): R;```

[2018-06-01 12:49] NetanelBasal commented on #18
lol, that's precisely what I did right now.

[2018-06-01 12:51] NetanelBasal commented on #18
I'm releasing a new version with this change for all queries methods.

[2018-06-01 12:51] jpzwarte commented on #18
Great, thanks!

[2018-06-01 12:52] NetanelBasal commented on #18
Thank you. Feel free to give more feedback or issues. :)

[2018-06-02 18:29] kafs1696 commented on #16
Sorry @NetanelBasal I was busy with other stuff and could not provide you the sample app. I will provide you in 1 to 2 days.

[2018-06-06 14:25] fr0 opened #20 "Not compatible with rxjs 6"
...without adding the `rxjs-compat` module (which is meant to be a temporary workaround).

[code]

[2018-06-06 14:40] NetanelBasal commented on #20
If you are working with Rx v6, you need the compat package.

[2018-06-06 14:41] NetanelBasal commented on #20
The next major version will support Rx v6.

[2018-06-13 13:47] jpzwarte opened #21 "Match jasmine-jquery for toHaveAttr matcher API"
So jasmine-jquery defines toHaveAttr as: https://github.com/velesin/jasmine-jquery/blob/master/lib/jasmine-jquery.js#L466

For example: ```expect(spectator.query('span')).toHaveAttr('foo', 'bar');```

The current spectator matcher is a lot more verbose:
```expect(spectator.query('span')).toHaveAttr({ attr: 'foo', value: 'bar' });```

Can we change the API so it matches jasmine-jquery? 😄

[2018-06-13 13:48] NetanelBasal commented on #21
Sure, I will check it, thanks.

[2018-06-16 20:12] #21 closed

[2018-06-16 20:13] NetanelBasal commented on #21
Added two new `matchers` and deprecated the old ones not to introduce a breaking change.
`toHaveAttribue('foo', 'bar')`
`toHaveProperty('foo', 'bar')`

[2018-06-16 20:16] NetanelBasal commented on #16
Closing this, as inactive.

[2018-06-16 20:16] #16 closed

[2018-06-18 19:53] dirkluijk opened #22 "typeInElement and ngModel"
I have a component with a form. However, the `typeInElement()` function does not seem to work with the `ngModel` directive. I tried solving it with `fakeAsync` and `tick()` but the form control stays empty, and so does the model.

My component (simplified):
[code]
My test code (simplified):
[code]
Any help on this?

[2018-06-18 20:00] NetanelBasal commented on #22
Can you reproduce [here](https://stackblitz.com/edit/spectator?file=app%2Fhello.component.spec.ts), so I can help you, please?

[2018-06-18 20:07] dirkluijk commented on #22
Of course, here you go: https://stackblitz.com/edit/spectator-issue22-ngmodel

It seems change detection resets the value of the input element before the input event is being handled by the ngModel directive. But that's just a guess.

[2018-06-18 20:15] NetanelBasal commented on #22
The problem is that ngModel is **async**. What you should do is:
[code]

[2018-06-18 20:17] NetanelBasal commented on #22
`model.foo` is winning because it executes after you run `typeInElement()`.

[2018-06-18 20:28] dirkluijk commented on #22
Interesting! It did work. I also found an alternative "solution":

[code]

[2018-06-18 20:30] NetanelBasal commented on #22
Yes, but it will work only on initialize.

[2018-06-18 20:31] dirkluijk commented on #22
Good catch. Thanks for helping me out! Async testing can still be challenging sometimes.

[2018-06-18 20:31] #22 closed

[2018-06-18 20:32] NetanelBasal commented on #22
Any time you need, I hope you are enjoying the library.

[2018-06-18 20:33] dirkluijk commented on #22
Sure! It is how the default Angular test API should be... it makes Angular testing really fun again.

Keep up the good work.

[2018-06-20 13:40] dirkluijk opened #23 "Error when using multiple factories"
Just wanted to report that in some situations this error can appear:

[code]

This happens when you use multiple factories (e.g. `createTestComponentFactory` and `createHostComponentFactory`) in the same test ("describe") block.

Is this intended? Maybe a better error message should be visible.

[2018-06-20 15:07] NetanelBasal commented on #23
Hey, thanks for the report. It's a limitation of `TestBed.` You can create one `createTestComponentFactory` per describe.

[2018-06-20 15:12] dirkluijk opened #25 "Testing HTTP interceptors"
Hi,

I just wanted to share this Gist: [testing HTTP interceptors with Spectator](https://gist.github.com/dirkluijk/3a29f5abc7e57d7e6e3b5788f462625c).
Maybe it's nice to have a special `HttpInterceptorFactory` on the roadmap of Spectator. 😎

[2018-06-20 15:13] NetanelBasal commented on #25
Looks great! thanks.

[2018-06-21 04:39] NetanelBasal commented on #23
If you have further questions, let me know.

[2018-06-21 04:39] #23 closed

[2018-06-21 04:40] #25 closed

[2018-06-21 05:52] NetanelBasal commented on #25
Added to the official examples. https://netbasal.gitbook.io/spectator/examples/http-interceptors

[2018-06-22 09:59] FrankMerema opened #27 "Testing Components with service in OnInit"
Hi,

While is was testing with your beautiful library I ran into a exception at the `mocks` part.
In most of my components I subscribe to an observable, for example ``` this.route.paramMap.subscribe(paramMap => {}); ``` and it will crash with `TypeError: Cannot read property 'subscribe' of null`.

So I have created a [Gist](https://gist.github.com/FrankMerema/8c84be6026df1ecf73fdc503fef331ed) with

[2018-06-23 18:56] benelliott opened #28 "Library node_modules is checked into git"
I am working on a new feature that I would like to eventually submit as a pull request, but that feature makes some changes to the library's dependencies and I was surprised to find that the dependencies are checked into git. Is this necessary? For one, it makes it hard to see the real changes a pull request is making as they are buried in the noise of minor dependency updates.

[2018-06-23 19:10] NetanelBasal commented on #28
Hey, this is a bug, it should not be there.

[2018-06-23 19:12] NetanelBasal commented on #28
It should be in gitignore. If your feature involved breaking changes, let me know, so we can release it with the next major version where we upgrade to Angular 6.

[2018-06-23 19:22] benelliott commented on #28
Oh cool thanks, I was worried it was part of your workflow. I've just submitted #29 to fix it (.gitignore just needed to be reapplied). I don't think the other PR will have breaking changes.

[2018-06-23 19:23] NetanelBasal commented on #28
Thanks

[2018-06-23 20:50] benelliott commented on #28
Have you considered packaging the library with the CLI?

[2018-06-23 20:52] NetanelBasal commented on #28
They added this option only in v6. I'll do it in the future when I find the time.

[2018-06-23 22:39] benelliott commented on #28
If you would like a PR for it I might be able to give it a go.

[2018-06-23 22:46] #28 closed

[2018-06-24 03:47] NetanelBasal commented on #28
Go for it. 👍

[2018-06-26 13:12] bengry opened #31 "SpectatorWithHost resetting inputs when detectChanges is set to true"
Given the following component:
[code]

And the following test code:
[code]

The test `'input test'` fails, and `someInput` is `undefined`.

passing `false` as the `detectChanges` parameter (to `createHost`) results in `someInput` being `true`, but as soon as you run a changeDetection (via `spectator.detectChanges()` to check the DOM, the values reset.

[2018-06-26 13:28] NetanelBasal commented on #31
I'm not sure it's a problem. As you can see here, it should work.
https://github.com/NetanelBasal/spectator/blob/master/src/lib/src/host.ts#L103

Can you create a demo so that I can investigate more, please?
https://stackblitz.com/edit/spectator?file=app%2Fhello.component.spec.ts

[2018-06-26 13:35] bengry commented on #31
@NetanelBasal I debugged this a bit, and it seems like [this line](https://github.com/NetanelBasal/spectator/blob/2856a80c867657e5d6a8c520e08876d20ccc7737/src/lib/src/host.ts#L107) is causing the issue (i.e. the inputs are set fine before it).

You can find a repro for the complexInputs issue, forked from the StackBlitz you linked here: https://stackblitz.com/edit/spectator-9gg3yx

[2018-06-26 13:39] NetanelBasal commented on #31
can you move this line to 101 and check, please?

[2018-06-26 13:40] bengry commented on #31
@NetanelBasal Move what line to 101?

[2018-06-26 13:40] NetanelBasal commented on #31
spectatorWithHost.hostFixture.detectChanges();

[2018-06-26 13:43] NetanelBasal commented on #31
[code]

[2018-06-26 13:43] bengry commented on #31
@NetanelBasal Seems like that works, but I'm not sure how you can run changeDetection before you set the inputs - after all, you want the detection to run on the component **with** the changes.

[2018-06-26 13:44] NetanelBasal commented on #31
Yes, but the actual component is:
`spectatorWithHost.detectComponentChanges();`

You moved the line of the **host**.

[2018-06-26 13:54] bengry commented on #31
@NetanelBasal I actually just checked this again against a real component I have and it seems like there's still some issue in this regard. I'll try and make a more exact repro on StackBlitz and add it when done.

[2018-06-26 13:55] NetanelBasal commented on #31
Already publish 1.8.1 with the fix. Let me know.

[2018-06-26 13:56] #31 closed

[2018-06-26 14:03] bengry commented on #31
@NetanelBasal FYI there's already a v1.11. Why not 1.11.1?

[2018-06-26 14:04] NetanelBasal commented on #31
I am using an automatic tool, and it was doing some crazy things.

[2018-06-26 14:05] NetanelBasal commented on #31
we will be aligned in v2.0

[2018-06-26 14:14] bengry commented on #31
So 1.8.1 includes everything that 1.11 includes? At any rate, I suggest publishing a 1.11.1 (even if it's === 1.8.1), since no one will see the new fix otherwise (until the next version), and if you install 1.8.1, upgrading to an actual "lower" version is easily possible.

[2018-06-26 19:07] NetanelBasal commented on #31
Let me check.

[2018-06-26 19:09] NetanelBasal commented on #31
I need to revert the whole thing; there was a mistake.

[2018-06-26 19:15] bengry commented on #31
You can't unpublish a package on npm, just deprecate it.

Please post an update when a new version's published, I'll update our projects.

[2018-06-26 19:21] NetanelBasal commented on #31
Why are you not upgrading to 1.11?

[2018-06-26 19:35] bengry commented on #31
I upgraded to 1.11 originally, but it had the bug I faced that caused 1.8.1 to be released.
That's why I wanted 1.11.1 :-).

I'll give it a try tomorrow. Thanks for the hard work!

[2018-06-26 19:35] NetanelBasal commented on #31
Thank you.

[2018-07-02 08:58] NetanelBasal commented on #31
This change broke some of our tests.

[2018-07-06 13:24] jpzwarte opened #34 "Add docs on how to use MockComponent with output"
So i wanted to unit test a component that has an event handler for a child component. I don't want to test the child component, so i mocked the child component using ```MockComponent({ selector: 'foo', output: ['change'] })```.

I looked at the spectator sources and saw that it created an ```EventEmitter``` for every output. Ok so far, but how do i get the mock component instance and emit the even

[2018-07-06 13:58] NetanelBasal commented on #34
I see what you mean. One way to support it is like that:

[code]

[2018-07-06 14:00] jpzwarte commented on #34
Right, the identifier would help make it easier to query. 👍

[2018-07-06 14:07] #34 closed

[2018-07-06 14:08] jpzwarte commented on #34
Thanks!

[2018-07-06 14:08] NetanelBasal commented on #34
Try 1.13.0 and let me know if it works, so I will update the docs.

[2018-07-06 14:09] NetanelBasal commented on #34
Sure, np.

[2018-07-06 14:11] NetanelBasal commented on #27
Closing this issue. If you have any further questions, let me know.

[2018-07-06 14:11] #27 closed

[2018-07-07 11:10] jpzwarte commented on #34
@NetanelBasal works great!

[2018-07-13 06:14] #14 closed

[2018-07-13 06:14] #20 closed

[2018-07-19 14:05] DavideCarvalho opened #35 "Error with @angular/animations"
On work, we have a Module with some Services to help the teams with some stuff related to our architecture (like oauth and so on...). When I use createService, it gives me the this error:

[code]
So it breaks the tests and say that I don't have @angular/animations, since it's just services, we don't have @angular/animations in it.

I'm using version 1.2.1, because we are using Angular 5

[2018-07-19 15:50] NetanelBasal commented on #35
Try npm i @angular/animations

[2018-07-19 18:09] DavideCarvalho commented on #35
I added @angular/animations@5.0.0, now it only shows this:
[code]

I'm using webpack to build the application, here's my webpack config for testing:
[code]

and my tsconfig.json
[code]

[2018-07-19 18:49] NetanelBasal commented on #35
It's not a problem with Spectator, it's something with your build config. Why are you not using angular-cli?

[2018-08-08 06:27] jpzwarte opened #36 "How to use MockComponent with ngModelChange output"
I'm trying to test a component that calls a service when a child component updates using ```(ngModelChange)="update($event)"```. However the typescript compiler doesn't recognize the ```ngModelChange``` output on the component (there is no property on the component class).

```error TS2339: Property 'ngModelChange' does not exist on type 'EditAvatarComponent'.```

Caused by:
[code]

Any ideas?

[2018-08-08 06:30] NetanelBasal commented on #36
`component.ngModelChange`  - that's not on the component. That is a property from the ngModel directive.

[2018-08-08 06:44] jpzwarte commented on #36
Yeah, i know, but in my template i have this:

[code]

I want to test that. Any how i *should* do it then?

[2018-08-08 10:47] jpzwarte commented on #36
Hmm, i fail to see how i can do this. I'm also working just now on the unit test of the ```EditAvatarComponent``` itself. I have no idea how to set the ```ngModel``` input on the component. When i just create the component using spectator, the ```writeValue``` method the ```ControlValueAccessor``` interface is never called. I don't see anything similar in the spectator docs on how to do this :/

[2018-08-08 10:49] jpzwarte commented on #36
Seems i'm not the only one: https://github.com/angular/angular/issues/7409

[2018-08-08 11:00] jpzwarte commented on #36
OK, so this kinda works:

[code]

But can i change ```null``` to a variable and then pass that along when i call ```createHost```? Seems like the 3rd param of ```createHost``` is for ```complexInputs```?

[2018-08-08 11:02] NetanelBasal commented on #36
Can you create a small [stackblitz](https://stackblitz.com/edit/spectator?file=app%2Fhello.component.spec.ts), so I will try to help?

[2018-08-08 11:11] jpzwarte commented on #36
See https://stackblitz.com/edit/spectator-tcefvu

Having trouble with the sample use case: ```<hello [ngModel]="'World'"></hello>```. That fails, but i see ```writeValue``` being called (open the console). So first step would be to get this test working, second would be to set ```[ngModel]``` to a variable.

[2018-08-08 11:16] NetanelBasal commented on #36
Check my answer [here](https://github.com/NetanelBasal/spectator/issues/22) and see if it helps.

[2018-08-08 11:18] jpzwarte commented on #36
Please see the updated stackblitz: https://stackblitz.com/edit/spectator-tcefvu
Still doesn't work. I saw that other issue earlier (i also work with Dirk :))

[2018-08-08 11:25] NetanelBasal commented on #36
Because you don't have two-way data bindings. The following works:

[code]

[2018-08-08 11:26] jpzwarte commented on #36
Thanks!

[2018-08-08 11:27] NetanelBasal commented on #36
It actually works without it. https://stackblitz.com/edit/spectator-kkyjx5

[2018-08-08 11:30] jpzwarte commented on #36
Cool! Last question, when you pass the ```title``` as the 3rd param to ```createHost```, can i access the title somewhere on the host instance? So i can use it in an ```expect``` when it should have changed?

[2018-08-08 11:34] jpzwarte commented on #36
Ehhhh, something is fishy:

[code]

That *should* work right? It doesn't :) I think the test only worked because it was setting the title attribute of the HelloComponent directly?

[2018-08-08 11:49] NetanelBasal commented on #36
https://stackblitz.com/edit/spectator-kkyjx5

[2018-08-08 11:56] jpzwarte commented on #36
Pfff, i got it to work after looking at how angular material tests custom ```ControlValueAccessor``` components: https://stackblitz.com/edit/spectator-br9npq
Wrap the component you want to test in a dummy component. I'm closing this issue. Thanks for your help!

[2018-08-08 11:56] #36 closed

[2018-08-10 12:10] splincode opened #37 "Add auto generate mock for component and service"

[2018-08-14 17:02] dirkluijk opened #38 "Dedicated page in docs about life cycle hooks"
Hi,

Some of my co-workers had trouble with life cycle hooks. This may be obvious for experienced Angular devs, but maybe it would be nice to have a dedicated page in the docs `Components -> Lifecycle hooks`:

I hope this can be of any value for the docs ;)

[2018-08-15 06:31] NetanelBasal commented on #38
I'm not sure what you mean. Lifecycle hooks are called, for example, ngOnInit.

[2018-08-15 06:59] dirkluijk commented on #38
Hm, I see. My mistake. But for ngOnChanges, this _is_ actually different somehow:
https://stackblitz.com/edit/spectator-sw9rk2

Can you explain this difference?

[2018-08-15 07:08] NetanelBasal commented on #38
`ngOnChanges` isn't called when inputs are set programmatically. In the host case, it's not considered programmatically.

[2018-08-15 07:10] dirkluijk commented on #38
Ah. Just found [this article](https://medium.com/@christophkrautz/testing-ngonchanges-in-angular-components-bbb3b4650ee8). So the above explanation is correct but only for ngOnChanges.

Thanks for looking into it.

[2018-08-15 07:10] #38 closed

[2018-08-19 18:47] dirkluijk opened #39 "Option to use Jest for Spectator mocking"
We successfully migrated from Karma/Jasmine to Jest (with Spectator unit tests).

Spectator uses Jasmine for the mocking implementation, this still works fine. However, as Jest has its own mocking API, is it possible to make Spectator use Jest for mocks? This prevents mixing two different API's for mocking.

e.g.
[code]

Maybe by checking if Jest is available and automatically use Jest instead of

[2018-08-19 18:55] NetanelBasal commented on #39
It can be nice. Currently, I don't have the time, but feel free to do it.

[2018-08-19 18:55] NetanelBasal commented on #37
Can you elaborate more?

[2018-08-19 18:56] NetanelBasal commented on #35
Closing this issue.

[2018-08-19 18:56] #35 closed

[2018-08-19 23:09] dirkluijk commented on #39
Initial attempt: https://github.com/NetanelBasal/spectator/pull/40.

[2018-09-04 13:58] jeekapascual opened #41 "v1.13.1 not released"
Hi, unfortunately v1.13.1 isn't available on npm: https://www.npmjs.com/package/@netbasal/spectator

I will be needing the patch which supports content projection in mocked components. It exists in the aforementioned release.

As we are still using angular 5, I cannot use the next available version which contains this patch (v2.0.2). Will it be possible to republish v1.13.1? Thanks! We are current

[2018-09-04 15:06] NetanelBasal commented on #41
You have problems using it with Angular 5, or you are just assuming?

[2018-09-05 08:36] jeekapascual commented on #41
When I am mocking components via the `MockComponent` function, I am required to pass in the template. For example:

parent.component.html
[code]

card.component.html
[code]

Instead of being able to do this:
[code]

I have to pass in template in order for `<custom>` to be taken into account:
[code]
If I am working with multiple nested components, I have to explicitly state the template for each. T

[2018-09-05 08:40] NetanelBasal commented on #41
I think you can use the newer version even with Angular 5, can you try it, please?

[2018-09-10 10:43] jeekapascual commented on #41
Sorry for the delay in responding.

I've tested `v2` of spectator and it does work, however it explicitly requiring `angular@6` makes it difficult on my side. I'm working on a library that it set to use `angular@5` (won't be able to upgrade soon).

`v1.13.1` is the latest tag I could work with `angular@5`.

[2018-09-11 14:16] fr0 opened #42 "Support host component from another module"
Error I'm getting:

[code]

Is it possible to support my `host` component coming from another module?

[2018-09-11 17:53] NetanelBasal commented on #42
Can you add the full code, please? I can't help you with only this.

[2018-09-11 17:54] NetanelBasal commented on #41
It's only a **peer dependency**; you can use it with Angular 5 with no problem,

[2018-09-11 19:00] fr0 commented on #42
Short version:

[code]

I can't post the full code because it's not open source, but the key part is that `EditorTestHostComponent` is part of `AtlasDevToolsModule`, which seems to be the issue that Angular is complaining about.

I don't know what the right workaround/solution is, because it seems like your code is assuming that if there's a host component, that host component isn't part of any ot

[2018-09-12 04:36] NetanelBasal commented on #42
You can create a new component that extends this one.

[2018-09-12 16:05] fr0 commented on #42
That is a reasonable workaround. Thanks for the help!

[2018-09-13 05:13] NetanelBasal commented on #42
You're welcome.

[2018-09-13 05:13] #42 closed

[2018-10-09 11:46] slawojstanislawski opened #44 "Testing Output() in a structural directive"
**Problem**
It's been impossible for a long time (possibly still is) to use Output() on a structural directive in Angular. To do that, one must use a de-sugarized version of a structural directive, i.e. with ng-template. I've been trying to test that case with spectator, since that's what I'm using to test my app, but I can't write the tests correctly with custom host component. I looked into that

[2018-10-09 11:56] NetanelBasal commented on #44
A structural directive is a particular case I need to handle.

You can't use the query method. I will fix it soon. You can do the following:

[code]

[2018-10-19 20:41] fr0 opened #45 "Angular 7 support"
Installing the latest version of spectator (`2.0.3`) in a project with Angular 7.0.0 gives the following warnings:

[code]

Since Angular 7 was officially released on 2018-10-18, it would be nice if spectator supported it.

[2018-10-20 16:40] NetanelBasal commented on #45
I believe it should work with v7, it's just a warning, but I need to test it.

[2018-11-02 15:55] benelliott commented on #45
It does indeed work with v7, those warnings can be ignored for now.

[2018-11-06 14:02] benelliott commented on #45
The peer dependencies have been updated to ^7.0.0 as of v2.1.0.

[2018-11-06 14:02] #45 closed

[2018-11-08 05:39] #41 closed

[2018-11-08 05:39] #37 closed

[2018-11-13 22:02] MartinNuc opened #51 "TS strict mode: implicitly has an 'any' type"
We use typescript strict mode in our application but spectator fails to compile with following error:

[code]

I created a repository to reproduce the issue: https://github.com/MartinNuc/spectator-strict

just run `npm install` and `npm test`.

I was able to fix the issue by adding types to `matchers-types.d.ts`. I will create PR.

[2018-11-14 05:29] #51 closed

[2018-11-14 05:29] NetanelBasal commented on #51
Thanks.

[2018-11-15 09:54] LayZeeDK commented on #39
You would have to create a sub-package specific to Jest.

**For Jest**
[code]

**For Jest**
[code]

Similarily a `createService` which can be Jest-specific by importing like this:
[code]

This is a similar problem to what `rxjs-marbles` needed to implement `fakeSchedulers` for multiple testing frameworks:
https://blog.angularindepth.com/rxjs-testing-with-fake-time-94114271eed2

[2018-11-15 11:14] dirkluijk commented on #39
That sounds like a good idea!

@NetanelBasal if you agree, i’ll update the PR.

[2018-11-15 12:03] NetanelBasal commented on #39
👌🏻

[2018-11-15 13:35] dirkluijk commented on #39
Will take a look at it. We have switched to Jest for our Angular project so I have a good project to test against.

[2018-11-16 06:09] NetanelBasal opened #53 "Add schematics support"
1. Create `ng add @netbasal/spectator` command.
2. Change the basic spec file that the CLI generates to Spectator template.

[2018-11-20 20:10] dirkluijk commented on #53
Nice idea. But what should a spec file look like? Or can you provide different spec templates for pipes/services/components/etc?

[2018-11-20 20:32] NetanelBasal commented on #53
Yes. `ng g c --spec` or `ng g c --spec withHost`

[2018-11-20 20:33] dirkluijk commented on #53
Nice. "Accepts PR" -> no experience with creating schematics, but maybe I have time left this week.

[2018-11-20 20:35] NetanelBasal commented on #53
lol, it will be awesome, you can start with the `ng add` command, it's easy.  https://nitayneeman.com/posts/making-an-addable-angular-package-using-schematics/

[2018-11-21 09:16] jpascual-pm commented on #41
Hello, sorry for the delay in responding. I saw you've closed this issue, but I still want to comment to confirm that it works on `angular@5`. As you said, it is after all a peerDependency.

[2018-11-22 10:39] NetanelBasal opened #54 "IE not working"
@benelliott your application tests are working in IE? IE stopped working when we upgrade to 2+. 2- is working.

 cc @dirkluijk

[2018-11-22 11:36] benelliott commented on #54
Hi, do you mean that unit tests written using Spectator won't run on IE?

I haven't tried it personally but can give it a try.

IE11?

[2018-11-22 11:52] benelliott commented on #54
Just had a quick look - seems like it might be because dom-testing-library is distributed in ES6.

[2018-11-22 12:03] NetanelBasal commented on #54
Makes sense. How can we fix it?

[2018-11-22 12:05] benelliott commented on #54
I'm not sure 🤔

Just spent a few minutes playing with `tsconfig` (`allowJs`, `importHelpers`) but I didn't get anywhere. According to this SO link you can't do it with just TypeScript:

https://stackoverflow.com/questions/50090972/typescript-transpile-es6-js-dependency-to-es5

I guess one option would be to fork `dom-testing-library`, distribute it as ES5 and depend on that instead (then maybe sen

[2018-11-22 14:05] NetanelBasal commented on #54
I downgraded our application to the version with the `dom-testing-library`, and it works. We need to find a solution; we support IE11.

[2018-11-22 14:06] benelliott commented on #54
Do you mean to the version _without_ dom-testing-library?

[2018-11-22 14:13] NetanelBasal commented on #54
sorry, yes.

[2018-11-22 14:13] benelliott commented on #54
Ok yeah I am pretty certain the issue is with the `dom-testing-library` build pipeline. It's a pretty wacky custom solution but doesn't really seem to be doing what it is supposed to AFAICT.

[2018-11-22 14:16] NetanelBasal commented on #54
Do we need to open an issue in the repo?

[2018-11-22 14:20] benelliott commented on #54
Yeah, I think so - just investigating it myself atm as for some reason `react-testing-library` is compiled with Babel polyfills included but `dom-testing-library` isn't, and they have very similar configurations.

[2018-11-22 14:59] benelliott commented on #54
Actually... due to a few red herrings, I might have missed an obvious solution - updating to the latest version of `dom-testing-library` might work. Are you able to test it?

[2018-11-22 15:00] NetanelBasal commented on #54
I will on Sunday.

[2018-11-22 15:02] benelliott commented on #54
Nope... it's a bit better but still has some arrow functions. I will have to ask the library author to release an ES5 version.

[2018-11-22 17:46] benelliott commented on #54
I've opened https://github.com/kentcdodds/dom-testing-library/issues/160

[2018-11-22 17:48] NetanelBasal commented on #54
Thanks!

[2018-12-10 17:42] slawojstanislawski opened #55 "Imports in createService method doesn't work"
This is an example tested service, which uses Angular's FormBuilder:

[code]

Here's the test case for it, using the 'imports' property
[code]

What I get in an error - it doesn't find the FormBuilder:
`Error: StaticInjectorError(DynamicTestModule)[FormsService -> FormBuilder]:
  StaticInjectorError(Platform: core)[FormsService -> FormBuilder]:
    NullInjectorError: No provider for FormBuilder!`

[2018-12-10 19:46] NetanelBasal commented on #55
Can you reproduce it on stackblitz, please?

[2018-12-11 08:02] MartinNuc opened #56 "[feat] mockProvider for properties"
Imagine testing a service depending on observable from another service:

[code]

For testing services we use `mocks` array which calls `mockProvider` which works great but it creates spies only for methods. Observable property is missing so in the test you need to do something like:

[code]

**- What do you think about adding parameter for properties to `mockProvider`?**

Eg:

[code]

Could be use

[2018-12-11 09:05] MartinNuc commented on #56
I've just noticed interesting thing - until I reference the service in my test (eg calling function, reading property) the constructor is not executed. I thought constructor is executed when creating a test module.

[2018-12-11 13:43] benelliott commented on #56
You can't - see https://github.com/jasmine/jasmine/issues/1442

But I think the request is to just add a shorthand to extend spy objects with non-spy properties.

[2018-12-11 13:45] MartinNuc commented on #56
Exactly as @benelliott says. I would like to add properties when creating a mock.

[2018-12-11 13:46] NetanelBasal commented on #56
Could you create a PR without breaking changes?

[2018-12-11 14:10] MartinNuc commented on #56
@NetanelBasal Yes I can if you agree with this proposal:

[code]

and maybe also

[code]

[2018-12-11 14:12] NetanelBasal commented on #56
The second example will introduce a breaking change.

[2018-12-11 14:18] MartinNuc commented on #56
I think we could support both original and new way to provide mocks. Even combined:

[code]

[2018-12-11 14:23] NetanelBasal commented on #56
We cannot count on this as Angular supports passing arrays also. The following code will work:

[code]

[2018-12-11 14:35] MartinNuc commented on #56
You're right. I didnt know that. Ok I will stick to modifying `mockProvider` only.

[2018-12-12 08:35] NetanelBasal commented on #54
Need to bump dom-testing-library version.

[2018-12-12 08:47] NetanelBasal commented on #55
Works on the latest RC version.
https://stackblitz.com/edit/angular-testing-spectator-neorxf

[2018-12-12 08:47] #55 closed

[2018-12-12 08:53] slawojstanislawski commented on #55
Sorry, didn't have time recently to create a reproduction. Will verify soon, thank you for investigating.

[2018-12-13 16:30] slawojstanislawski commented on #55
Works ok.

[2018-12-14 12:42] CodeCrusha commented on #22
host.hostFixture.whenStable().then(() => { ... }); let the test always pass with success, it does not matter which except you have in there (except(false).toBeTruthy() is true). I guess because its async. Just to point out, that the answer of NetanelBasal is not correct.

[2018-12-14 13:12] NetanelBasal commented on #22
@CodeCrusha can you reproduce what you're saying?

[2018-12-16 14:42] #39 closed

[2018-12-16 14:43] NetanelBasal commented on #54
fixed in 3.0.0

[2018-12-16 14:43] #54 closed

[2018-12-16 14:44] NetanelBasal opened #57 "Docs for Jest"
@dirkluijk when you have time.

[2018-12-17 13:02] benelliott commented on #54
@NetanelBasal 	Thanks!

[2018-12-17 19:33] NetanelBasal commented on #56
v3.1.0

[2018-12-17 19:33] #56 closed

[2018-12-19 16:24] olivlomp opened #59 "All instances of a MockComponent share the same event emitter, therefore I cannot emit events on individual instances."
Hi!

First of, thanks for an awesome testing framework :)

I'm currently mocking some outputs using MockComponent. There seems to be an issue where all instances of the mock component share the same event emitter. Calling emit on a single instance will therefore call the bound method multiple times, once for each instance.

Here's a test to demonstrate this:
[code]

The function, boundMethod shoul

[2018-12-19 17:11] NetanelBasal commented on #59
I see what the problem. It's because it's on the prototype. I think we should move to the complete implementation of Mocks in Angular.

https://github.com/ike18t/ng-mocks

We're already using it actually in our code. It auto mocks the inputs, outputs, etc.

[2018-12-19 17:15] NetanelBasal commented on #59
Yes, this is working as expected:

[code]

[2018-12-19 17:16] NetanelBasal commented on #59
@dirkluijk for your knowledge.

[2018-12-19 20:10] dirkluijk commented on #59
Nice library @NetanelBasal. Maybe I have some time left the next days to submit a PR to integrate it. 😄

[2018-12-19 20:11] NetanelBasal commented on #59
We need the Jest docs first :)

[2018-12-19 20:14] dirkluijk commented on #57
Sure. How can I submit any docs? Can I just submit it in this issue as plain text? 👍

[2018-12-19 20:16] NetanelBasal commented on #57
Yes. Write here with markdown and I will transfer it to the gitbook.

[2018-12-19 20:32] dirkluijk commented on #57
In "https://netbasal.gitbook.io/spectator/services":

Change:

Into:

And maybe it's good to add an additional "Examples" page in the docs, titled "Jest support" (or: "Jasmine vs. Jest":

[2018-12-19 20:35] dirkluijk commented on #59
Of course. By the way, if `ng-mocks` is preferred over the Spectator `MockComponent`, does that mean that no integration is needed at all and that we just have to deprecate the current implementation? Or what do you suggest?

[2018-12-19 20:40] #57 closed

[2018-12-19 20:43] NetanelBasal commented on #59
Yes, that's what we did in our application. We're using ng-mocks directly; it's much more comfortable.

[2018-12-19 20:46] dirkluijk commented on #59
All right, maybe it's good to update the docs accordingly (and deprecate the Spectator one, and update the existing unit tests to properly demonstrate this compatibility).

[2018-12-19 21:40] dirkluijk commented on #59
New doc proposal for: https://netbasal.gitbook.io/spectator/components/untitled-1 (Mock Components).

[2018-12-20 06:39] #59 closed

[2018-12-20 07:55] olivlomp commented on #59
Hey all, thanks for the quick responses and the swift resolution and clarification! 🥇

[2018-12-22 17:52] ike18t commented on #59
I came across this lib after reading @NetanelBasal 's medium article. I'm stoked that you guys are going to pull in ng-mocks. Let me know if there is anything you guys need from me.

[2018-12-22 18:08] NetanelBasal commented on #59
@ike18t Yes, we are using ng-mocks. Spectator and ng-mocks together are a win-win :)

[2018-12-22 18:52] ike18t commented on #59
I noticed in the spectator docs for mocking a component there is the following line
`const instances = spectator.queryAll<SubComponent>(MockComponent(SubComponent));`

That call to MockComponent isn't necessary since this commit:
https://github.com/ike18t/ng-mocks/commit/7ccd3f53cd31ffa9055d0da0e7a34952652ade5a#diff-e618e42c87439e062f6fc60c40d0e5abR37

My bad for not representing that in the READM

[2018-12-22 18:53] NetanelBasal commented on #59
Awesome!

[2018-12-23 21:32] LayZeeDK commented on #11
#40 added a Jest API to version 2.3.0.

[2018-12-23 21:36] LayZeeDK opened #62 "jest: DOM selectors have not been exposed"
As seen in [the DOM selector Jest spec](https://github.com/NetanelBasal/spectator/pull/61/commits/6ed750b14ca9d62bd9020fb684ac26d9beba652c) in #61, the DOM selectors have not been exposed in Spectator's Jest API.

We should consider exposing them such that Jest users can access the complete Spectator API through the Jest subpackage.

Or should we only expose the APIs where the implementation diffe

[2018-12-24 05:38] #62 closed

[2018-12-25 15:11] claboran opened #63 "Missing Type Definition File for @types/je st"
Created new angular-cli version 7 project and did a test drive using Spectator.
Received an error when running ng test:

ERROR in node_modules/@netbasal/spectator/lib/mock.d.ts(1,23): error TS2688: Cannot find type definition file for '@types/jest'.

Installing @types/jest does not help, since I have inference with jasmine types (want to stick to Jasmine)

Any help is appreciated

[2018-12-25 15:12] NetanelBasal commented on #63
@LayZeeDK @dirkluijk any suggestions?

[2018-12-26 08:36] claboran commented on #63
@NetanelBasal: Problem has been solved. After adding @types/jest to devDependencies and changing:
`    "types": [
      "jasmine",
      "node"
    ]
`
to
`
    "types": [
      "jest",
      "node"
    ]
`
in tsconfig.spec.json

[2018-12-26 08:37] NetanelBasal commented on #63
Cool, thanks!

[2019-01-02 06:18] DmitryEfimenko commented on #63
is that the suggested solution even if not using Jest?

[2019-01-02 12:06] claboran commented on #63
My initial setup with angular-cli 7.0.0 and npm install @netbasal/spectator --save-dev
gives:
`ERROR in node_modules/@netbasal/spectator/lib/mock.d.ts(1,23): error TS2688: Cannot find type definition file for '@types/jest'.
// what is obvious
/// <reference types="@types/jest" />
import { Provider, Type } from '@angular/core';
import { SpyObject as BaseSpyObject } from '@netbasal/spectator';
expor

[2019-01-02 20:58] DmitryEfimenko commented on #63
@claboran  no, your workaround works. I verified it. However, that's a workaround. The developer should not receive the error after running `npm install @netbasal/spectator --save-dev`.
It should just work.

I think this issue should be re-opened untill there is a proper fix in place (@NetanelBasal ).

[2019-01-02 21:20] NetanelBasal commented on #63
I created a new Angular project with cli, installed Spectator, run the tests, and I don't get any error, do I miss something, guys?

[2019-01-04 09:54] dirkluijk commented on #63
I can reproduce it as well. I will investigate this immediately, as this is breaking.

[2019-01-04 10:09] dirkluijk commented on #63
The problem is as follows:

When building the Spectator lib, it uses (and includes!) Jest typings (for the whole project) because it can't use both Jasmine and Jest typings at the same time (`Definitions of the following identifiers conflict...`).

But developers should be able to use Spectator _without_ having to import Jest's typings. I am now looking for a way to solve this. It would be solved

[2019-01-04 12:04] NetanelBasal commented on #63
Thanks, @dirkluijk, I will try to help when I have time.

[2019-01-04 12:45] dirkluijk commented on #63
No succes yet. I tried this:

`tsconfig.json`
[code]

`public_api.ts`
[code]

`jest/public_api.ts`
[code]

But this still conflicts as ng-packagr builds them with the same typescript compiler instance. Will look for other workarounds. Would be nice when jest typings are not conflicting with jasmine.

[2019-01-05 15:54] dirkluijk commented on #63
I have a possible fix: https://github.com/dirkluijk/spectator/commit/6a3f63b2fcd1639dbf078104693740a88868e632.

However, in my test app I get this weird error when using Spectator:

[code]
I have no idea what causes this. Someone?

[2019-01-05 16:17] NetanelBasal commented on #63
Need to see it live. You've only changed typings, weird 🤔.

[2019-01-06 19:40] dirkluijk commented on #63
Nice. Just found out that the error was caused by `yarn link` 🤷‍♂️ . The fix works perfect. I will submit it as a PR.

[2019-01-06 20:21] #63 closed

[2019-01-16 13:43] FrankMerema opened #65 "HttpFactory expectOne failing when params send with GET request"
For a filter endpoint I have to add query params to a GET request.
Before this `expectOne('endpoint/to/call', HTTPMethod.GET)` was working great, but now I have added params to the request and suddenly it stops working and logs ` Expected one matching request for criteria "Match method: GET, URL: 'endpoint/to/call", found none.`. I also see a logging line saying ` Expected no open requests, found

[2019-01-16 13:50] Tre665 commented on #65
I have the exact same Issue. Currently we plan to switch to move to spectator and thought it was a mistake on our side.

[2019-01-16 13:58] NetanelBasal commented on #65
Can you reproduce on stackblitz, please?

[2019-01-16 13:59] NetanelBasal commented on #65
I think it should be `expectOne('endpoint/to/call?value1=test&value2=testing', HTTPMethod.GET)`

[2019-01-16 14:03] FrankMerema commented on #65
Do you have a plain playground on Stackblitz I can use for starting?

And I tried the expectOne with query params but still doesn't match...

[2019-01-16 14:03] NetanelBasal commented on #65
https://stackblitz.com/edit/angular-testing-spectator?file=app%2Fhello.component.ts

[2019-01-16 14:16] FrankMerema commented on #65
I have created the example and your suggestion was correct, you need to add it to the url you expect:

https://stackblitz.com/edit/angular-testing-spectator-http-param-bug

Thanks for the quick reply and solution! Keep up the  good work :)

[2019-01-16 14:17] #65 closed

[2019-01-16 14:36] NetanelBasal commented on #65
The first spec isn't right, remove it.

[2019-01-17 12:50] MartinNuc opened #66 "host.query doesnt work for directives"
When testing a directive according to https://netbasal.gitbook.io/spectator/directives the `host.query` doesn't work because it expects to have [debugElement](https://github.com/NetanelBasal/spectator/blob/2f70012dfd82d9d26facc794fc780fc102df4166/projects/spectator/src/lib/internals.ts#L97) which is not defined for a directive.

Results in `TypeError: Cannot read property 'query' of null` with sta

[2019-01-17 13:15] NetanelBasal commented on #66
Yes, you need to use the hostDebugElement when testing directives.

[2019-01-17 13:37] MartinNuc commented on #66
What I am suggesting is to change the `query` method to use `hostDebugElement` when the `debugElement` is not defined. What do you think?

[2019-01-17 15:26] jkyoutsey opened #67 "Document mocking ngrx store"
You should document how to mock ngrx store in a component/service.

Here is an example of how to mock the store in a service where the service needs data from selectors for a small slice of the store state.  I'd love to know if there is a way to simplify this even more...

[code]

[2019-01-18 06:31] NetanelBasal commented on #67
Thanks for the suggestion but we can't document one specific library. What about ngxs, Akita, mobx, etc. If someone asks, I will redirect to this issue. Thanks.

[2019-01-18 06:31] #67 closed

[2019-01-19 01:04] MartinNuc opened #68 "createService doesn't accept declarations"
At first glance it makes perfect sense that `createService` doesn't need declarations array however when testing a service depending on `RouterModule` there is a need to define routes. And routes must lead to a component.

I could mock `Router` and that would solve my problem. However that means also mimicking internal behaviour of `Router`.

What do you think about allowing `declarations` also fo

[2019-01-19 16:16] NetanelBasal commented on #68
Why do you need the router in services? Why not mock it? I'm guessing you aren't testing the router implementation.

[2019-01-19 17:11] MartinNuc commented on #68
I think my problem is mixing unit tests (there you mock `Router`) and integration tests (there you try to use `RouterTestingModule`). I use TestBed (and therefore Spectator) for both.

How do you write integration tests?

[2019-01-19 17:13] NetanelBasal commented on #68
I don't :). I have no problem adding your suggestion.

[2019-01-19 17:31] MartinNuc commented on #68
Let me do research how people write integration tests in Angular first :-)

[2019-01-19 17:35] #66 closed

[2019-01-19 17:44] MartinNuc commented on #66
I am digging deeper to fix those types and it looks like I made fix it on a wrong place. There should be nothing related to host in the parent `Spectator` class. Instead it needs fix in `SpectatorWithHost`. Sorry about that. Fix is on the way :-)

[2019-01-19 17:45] NetanelBasal commented on #66
Yes, that's OK, I should have noticed too.

[2019-01-27 00:56] MartinNuc commented on #68
In documentation there is only one note about integration tests: https://angular.io/guide/testing#when-would-i-put-specs-in-a-test-folder

I also found an article saying that we should place integration tests in a file with special name `*.integration.spec.ts`: https://christianlydemann.com/complete-guide-to-angular-testing/

But there is no recommended way how to write them.

If we wanted to avoi

[2019-01-27 04:56] NetanelBasal commented on #68
No problem.

[2019-01-27 10:14] MartinNuc commented on #68
Tried to prepare test of a service integrating with `Router` just by listening to `router.events` but it doesn't emit anything. So I guess `RouterTestingModule` contains some kind of incomplete mock of Router.

I didn't come up with another case of using `declarations` array for a service than integration with router so I will close this issue and we can reopen it when another case comes up.

I wa

[2019-01-27 10:14] #68 closed

[2019-02-04 14:57] jkyoutsey opened #71 "How do you test HTTP error conditions?"
I have a very simple service that runs a very simple POST.
[code]
I can easily cause an error to happen by calling `TestResponse.error('');`  But this doesn't allow me to test that I returned something.  How do I write the test that tests for receiving undefined in an error condition?  And what if I handled a 500 differently from a 204 or 401/3?

[2019-02-04 15:14] jkyoutsey commented on #71
Ya know, I just had 4 days off straight and just forgot how to be a programmer...  Here is a simple solution...

[code]

[2019-02-04 15:14] #71 closed

[2019-02-14 16:18] NetanelBasal commented on #53
Released in v3.3.0

[2019-02-14 16:18] #53 closed

[2019-02-15 14:27] dirkluijk opened #74 "Idea: TestFixture generator"
Today, when writing unit tests, I wanted to improve the organisation of our testdata. I came up with a simple test fixture generator:

[code]
[code]
[code]
[code]

The benefits:
* Full type completion, no `any` objects in unit tests
* Reuse of default data, with full freedom in changing specific fields
* Readable factory methods

What about adding such feature to Spectator? Or should it remain in

[2019-02-16 08:12] MartinNuc commented on #74
Imho this should be a separated library.

[2019-02-16 08:26] MartinNuc opened #75 "expectOne: Spec has no expectations"
When testing data service using `createHTTPFactory` I see errors in the console saying that the test has no expectations. Looks like `expectOne` is not connected to jasmine.

Simple fix would be to add `expect(true).toBe(true);` to `expectOne` but I am not sure if it's the correct one.

Tried with spectator 3.3.0 but it behaved same with the older version.

[2019-02-16 16:47] NetanelBasal commented on #75
We fixed that by monkey patching `console.error` and exclude this type of error.

[2019-02-16 16:48] NetanelBasal commented on #75
https://github.com/dfederm/karma-jasmine-html-reporter/issues/20

[2019-02-16 16:48] #75 closed

[2019-02-16 16:52] NetanelBasal commented on #74
Yes, I think it deserves its own util library.

[2019-02-19 21:44] MartinNuc commented on #75
ehhhh, monkeypatching `console.error` doesn't look like a good solution either :-(

What do you think about adding `expect(true).toBe(true)` to this place? https://github.com/NetanelBasal/spectator/blob/7ae901860704ce50f26f7753b6d6101e83761b2b/projects/spectator/src/lib/http.ts#L52

Using `expectOne` is like running expect so ⤴️ could workaround the issue.

[2019-02-20 06:34] NetanelBasal commented on #75
Sounds like a good idea.

[2019-02-27 13:10] jpzwarte opened #78 "Incorrect keyboard event creation"
So when i use the spectator API to dispatch a keydown event like this:

[code]

Things do not work correctly. After debugging the code, it turns out that `event.metaKey` is true for the dispatched event (running in Chrome). After some looking, i think the bug is here: https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/event-objects.ts#L40

When i look at MDN, the API

[2019-02-27 14:14] NetanelBasal commented on #78
Actually, the code is from material. https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/event-objects.ts#L1

[2019-02-27 14:17] NetanelBasal commented on #78
They updated the code: https://github.com/angular/material2/commit/04716b1ad0da60c52618e8ab8072bdee5c2b5eb8#diff-27d3bcc8e3ad6d38c08edce8bef3b9c7

Thanks.

[2019-02-27 14:23] #78 closed

[2019-03-06 20:01] jkyoutsey commented on #56
I have 3.1.7 and am trying the following
[code]
And I get an error that it cannot call `subscribe` on undefined when calling getObservable.

[2019-03-06 22:12] MartinNuc commented on #56
Its for properties. Not methods.

If you are trying to mock a method either use jasmine or use ‘getObservable: () => of()’ in mock provider.

[2019-03-07 14:44] rexebin commented on #53
Hi @NetanelBasal would you tell me how can I generate spectator template with the cli please? `ng g c --spec` only generate default angular cli spec in my project.

[2019-03-07 14:47] NetanelBasal commented on #53
You need to install spectator cli. It does not work with angular-cli. https://github.com/NetanelBasal/spectator-cli

[2019-03-07 14:48] dirkluijk commented on #53
Whoa. Didn't know that yet. AWESOME.

[2019-03-07 14:48] rexebin commented on #53
@NetanelBasal Thank you. Awesome lib you have created.

[2019-03-07 15:01] rexebin commented on #53
@NetanelBasal there might be a way to create a set of schematics extending the angular-cli and override the spec templates with spectator spec templates, works like @nrwl/schematics or @ngrx/schematics etc.

[2019-03-07 16:41] NetanelBasal commented on #53
Yes, I'm sure there is a way. Unfortunately, I do not have time at the moment to work on it. If you want to create a PR, go ahead 👍.

[2019-03-07 16:42] #74 closed

[2019-03-07 16:44] NetanelBasal opened #80 "Add schematics support"
Integration with Angular schematics. Run `ng g component --spec --withHost`, etc.

[2019-03-07 17:05] rexebin commented on #53
In my project (nx workspace), I have created a simple component schematic extending `@schematics/angular`'s component schematic, replacing the spec (run the default cli component schematics without generating spec, then copy a spectator spec template into the folder). Not sure how would this work in spectator lib. I will see what I can do.

[2019-03-07 17:17] NetanelBasal commented on #53
It should be the same, thanks!

[2019-03-08 10:27] tamasfoldi opened #81 "Question: MockDirective structural directives"
Is it possible to use MockDirective for structural directives somehow?

[2019-03-08 10:49] NetanelBasal commented on #81
Use https://github.com/ike18t/ng-mocks.

[2019-03-08 10:49] #81 closed

[2019-03-08 11:06] tamasfoldi commented on #81
If that package is the recommended one, shouldn't be better to remove Spectator's MockDirective from the public API?

[2019-03-08 11:08] NetanelBasal commented on #81
It's deprecated. We'll remove it in the next major release.

[2019-03-10 09:01] NetanelBasal commented on #80
Released in v3.5.0

[2019-03-10 09:01] #80 closed

[2019-03-11 09:25] IlCallo opened #83 "Spectator command hanging indefinitely"
When I launch `spectator` command and answer all questions, the CLI "hangs" and never return control to me. I'm forced to kill it and restart.

I'm on Windows 10, using Git Bash via VSCode.
If there be more useful info you could need to solve the problem, I'll be happy to provide them.

[2019-03-11 09:26] NetanelBasal commented on #83
We should upgrade plop. Btw, you can use the new schematics now.

[2019-03-11 09:33] IlCallo opened #84 "Spectator does nothing when a spec file already exists"
I'm starting to use Spectacular on an existing codebase, so most components already have a spec file, even if some of them are just the pregenerated ones.

If I try to use `spectator` for those components, no spec file is created.

I would expect an overwrite confirmation prompt or a `-f/--force` or `-o/--overwrite` option to manage this kind of situation. What do you think about this?

[2019-03-11 09:34] IlCallo commented on #83
I'll try it out, thanks

[2019-03-11 09:35] NetanelBasal commented on #84
Sounds good. It should be managed by spectator-cli that works with plop.

[2019-03-11 09:37] NetanelBasal commented on #84
If you want to submit a PR, here's the source code: https://github.com/NetanelBasal/spectator-cli/blob/master/plopfile.js

You should upgrade plop to solve the first issue and look for a `force` option in plop API.

[2019-03-11 20:47] MartinNuc opened #85 "query by directive throws error when nothing is found"
I was trying to write a test which checks that a component is missing (hidden by `*ngIf`). I used [query by type](https://netbasal.gitbook.io/spectator/api/queries) which uses `By.directive` internally.

However when the component is not found it throws an exception [here](https://github.com/NetanelBasal/spectator/blob/f9ef2a527945f4503e2f0459d557fc9d0d77284d/projects/spectator/src/lib/internals.t

[2019-03-11 20:51] NetanelBasal commented on #85
Sounds good to me.

[2019-03-11 20:58] MartinNuc commented on #85
Ok, I will make PR tomorrow :) thanks

[2019-03-12 09:47] IlCallo commented on #84
I'll try to work on a PR, even if I don't know exactly when

[2019-03-12 14:26] IlCallo opened #87 "Question: Querying nodes dynamically attached to the body"
Thank you for the great library! (cit. :P)

I'm testing some components using Angular Material.
Some of those components (dialogs, autocomplete, menu, etc) are implemented using an overlay system which is attached to the body, not inside the component declaring them.

With normal Angular testing API I use something like this (using testid)
`fixture.nativeElement.parentNode.querySelectorAll('[data-

[2019-03-12 15:27] NetanelBasal commented on #87
You can use one of the global helper methods:
https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/internals.ts#L109
https://github.com/NetanelBasal/spectator/blob/2f70012dfd82d9d26facc794fc780fc102df4166/projects/spectator/src/lib/globals.ts

[2019-03-12 15:54] ruimarques opened #88 "Mocking service methods with mockProvider()"
This might be a bug with `mockProvider()` of maybe I don't fully understand it. The documentation does say its second parameter is to mock properties but I expected it to mock methods also.

While testing a component:

[code]

Seems similar to what was mentioned here https://github.com/NetanelBasal/spectator/issues/56#issuecomment-470254813

[2019-03-12 16:06] IlCallo commented on #87
Surely `query` and `queryAll` are a nice shortcut, ty, even if I couldn't find their reference in the documentation.

Still, they accept a string selector, so I cannot use `byTestId` (or others DOM selectors) with them, which is a pity.
It would be pretty cool to be able to do `query(byTestId('testId'))` to keep consistency with Spectator methods.

Just suggesting...

[2019-03-12 16:11] NetanelBasal commented on #88
It should. @MartinNuc can you clarify, please?

[2019-03-12 16:13] NetanelBasal commented on #87
Yes, this is a helpful suggestion. I'll consider it. Thanks.

[2019-03-12 17:12] IlCallo commented on #84
I found a [small paragraph](https://github.com/amwmedia/plop#running-a-generator-forcefully) on this, but it's supported from version 2 onwards.
It's a major version update (1.9.1  => 2.3.0) because they dropped support for Node 4.
Shall I update other dependencies as well?

[2019-03-12 17:13] NetanelBasal commented on #84
Yes, you can.

[2019-03-12 18:32] DmitryEfimenko opened #89 "feature: performance improvements"
I stumbled accross an [article](https://blog.angularindepth.com/angular-unit-testing-performance-34363b7345ba) which describes how performance of angular unit tests can be improved (sometimes by 300%). The author created a [package](https://www.npmjs.com/package/ng-bullet) based on the technicks described in the article. Here's its [source code](https://github.com/topnotch48/ng-bullet-workspace/tr

[2019-03-12 19:17] NetanelBasal commented on #89
Do you want to create a POC?

[2019-03-12 19:24] #85 closed

[2019-03-12 19:26] NetanelBasal commented on #88
It's mock the methods. You will get a spy, and you need to return what you need, for example:

`this.someService.requestData.and.returnValue(of(value))`

[2019-03-12 22:54] MartinNuc commented on #88
@ruimarques it's not possible for methods unfortunately because methods are overriden. But this is second question regarding this topic so I will make a PR to change this so its possible to define methods using 2nd argument.

[2019-03-12 23:04] MartinNuc commented on #87
we use data-test selectors as well just like `.query('[data-testid="testId"')`. So your `byTestId` method could just return such selector.

[2019-03-13 04:51] NetanelBasal commented on #88
@MartinNuc do you mean class properties that are functions?

[2019-03-13 07:34] MartinNuc commented on #88
Yes. I will change the implementation to create a method mock only when it's not defined in the 2nd parameter object. Should be easy change.

[2019-03-13 09:56] #88 closed

[2019-03-13 16:43] ruimarques commented on #88
Awesome work guys!

Personally I would find it useful that mocked methods have a spy attached, do you think it would be useful for more people?

My current work around this is to do the following for each method I need a spy:

[code]

[2019-03-13 17:07] MartinNuc opened #92 "ngOnDestroy is not called for createService"
This is up to discussion and quite possibly Angular issue but maybe we could handle this in the spectator or maybe someone could point me to a correct solution.

[createService](https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/service.ts#L27) recreates everytime a new TestingModule using `beforeEach`. Problem is that `ngOnDestroy` for previous module is not called f

[2019-03-13 17:32] MartinNuc opened #93 "createService reuses mocks in testing module across multiple tests"
This was a mistake brought by me to the codebase. Sorry about that. 😬

It was also quite painful to find out the root cause. I will try to describe the problem.

When testing a service and using `providers` array:

[code]

We can pass 2nd argument for overriding properties and methods. The object passed in the 2nd argument is used as a base [object for mock](https://github.com/NetanelBasal/spectat

[2019-03-13 18:37] NetanelBasal commented on #92
`ngOnDestroy` is only called for non-singletons services.

[2019-03-13 18:37] NetanelBasal commented on #92
Maybe we can add it the afterEach block as a default inside the library.

[2019-03-13 18:39] MartinNuc commented on #92
I concur. I will make a PR tomorrow if you agree.

[2019-03-13 18:39] #93 closed

[2019-03-13 18:40] NetanelBasal commented on #92
I can't see how it can be an issue, so I'm OK with that.

[2019-03-15 18:36] DmitryEfimenko commented on #89
I was hoping someone else would look into it :D
I am quite swampled at work right now (aewn't we all). I'll take a stab at it when I get a bit of a break (if no one else tries it before me)

[2019-03-27 11:12] IlCallo opened #97 "feat: make toBeVisible take into account 'hidden' attribute"
Hey folks,
I noticed `toBeVisible` matcher ignore [`hidden` attribute](https://www.w3schools.com/tags/att_global_hidden.asp).
It may be a good idea to check that too.

[2019-03-27 11:21] IlCallo opened #98 "feat: mark toHaveAttribute second parameter as optional"
Some html attributes are boolean (eg `hidden`) and their value is optional, being deduced as equal to the attribute name.

It would feel better to be able to just use `toHaveAttribute('hidden')` instead of being forced to specify `toHaveAttribute('hidden', 'hidden')`.

[2019-03-27 20:30] schmkr commented on #67
Stumbled upon this issue while searching how to use spectator with ngxs. Not only to mock its store in components under test, but the actual store itself?

The ngxs schematics generate this boilerplate by default:

[code]

So my feeling would be that spectator's `createTestComponentFactory` function could somehow be used for this, but what would be the component the function needs as a parameter?

[2019-03-29 09:26] IlCallo commented on #83
Tested and now everything works as expected, thanks!

[2019-03-29 09:26] #83 closed

[2019-03-29 09:29] IlCallo commented on #84
Still not found a way to make it automatically ask for overwrite confirmation, but after dependencies update it prints a line specifying that the file has been skipped because it already exists.
Until plop itself support confirmation prompt, that's enough for me I guess.

Ty anyway!

[2019-03-29 09:29] #84 closed

[2019-03-29 17:23] elena-dev-thought opened #99 "components with custom host"
**Question:**
What is the difference when creating a component with input this way (which for me seems to be easier and less boiler plate as I don't have to mock another input component.)
Am I missing something?

`
  let host: SpectatorWithHost<GooglePlaceDetailComponent>;
  host = createHost(
      `<app-place-detail></app-place-detail>`,
      true,
      {
        placeItem: placeItemMock as an

[2019-03-29 17:54] elena-dev-thought commented on #22
This is so strange for me it work when I put the whenStable outside of the form interactions.
`host.typeInElement(
      formPlace.wifiSpeed,
      '[formControlName="workplaceWifiSpeed"]'
    );
    host.click('[formControlName="workplacePowerPlug"]')
    host.hostFixture.whenStable().then(() => {
      expect(store.selectSnapshot(AddWorkplaceState.formDirtyValue)).toBe(true);
      host.click('.

[2019-03-29 18:10] dirkluijk commented on #22
Yes, you first have to wait for the `fixture.whenStable()` promise before typing in the form.

As a side note: you can use async/await to make it more elegant. E.g:
[code]

[2019-03-29 18:18] dirkluijk commented on #99
There is not a iron rule, it depends.

Personally:
- I use `Spectator` (`createTestComponentFactory`) when I **don't** want to test the interaction with a parent component (`@Input`/`@Output`). For example a routed component.
- I use `SpectatorWithHost` (`createHostComponentFactory`) when I want to test things like inputs, outputs, life-cycle hooks, etc.
- I use a _custom HostComponent_ when I wor

[2019-03-29 18:25] dirkluijk commented on #97
Weird. Spectator just uses jQuery for that `$(el).is(':visible')`, which should take hidden attribute into account.

But I know that hidden is not always really hidden, it may depend on the browsers default styling. What browser are you using for your unit test?

[2019-03-29 18:41] dirkluijk commented on #89
I'm interested. I'm gonna take a look and let you know.

[2019-03-29 19:22] dirkluijk commented on #89
I did a POC and tested it on our project. It looks very promising. No test breaks and it is really a lot faster (we use Jest, but should not matter).

The differences:

app 1 (before)
[code]
library 1 (before)
[code]
library 2 (before)
[code]

app 1 (after)
[code]
library 1 (after)
[code]
library 2 (after)
[code]

## Summary
From `72.01s` to `36.76s` is `1.96` times faster
From `20.50s` to `13.69s

[2019-03-29 19:42] dirkluijk commented on #87
Just wondering, why would you need to query by test id? Never used it before.
Aren't components removed from the DOM after each test?

[2019-03-29 22:32] elena-dev-thought commented on #99
Thanks for your answer but what I mean is that case when you have the example with the host.

You can create a custom host to test complex inputs but you can also the normal host creation to test complex inputs. Is there any difference? In my opinion for the custom host I need to write much more code.

[code]

[2019-03-30 00:36] MartinNuc commented on #87
@dirkluijk it's a way how to write your page objects with using specific selector - instead of targeting by class (which might have CSS properties and could change in future) you use special attribute which gives the element special name which is used in test/page object.

[2019-03-30 02:26] DmitryEfimenko commented on #89
@dirkluijk Wow, thanks for testing around! Really awesome to see this! Looking forward for where it gets us!

[2019-03-30 08:07] IlCallo commented on #97
As you can see [here](https://api.jquery.com/visible-selector/), the hidden attribute is not taken into account (or, at least, it's not mentioned).

I'm using Jest as testing framework.

[2019-03-30 09:51] dirkluijk commented on #97
I tried to reproduce (we use Jest too), but I noticed that the matchers doesn't work at all on Jest.

Found out that `jsdom` does not support jQuery `:visible` and `:hidden` selectors: https://github.com/jsdom/jsdom/issues/1048. Let's wait for them to have it fixed.

[2019-03-30 10:01] dirkluijk commented on #99
Ok, let me show you. With a custom host, you can do things like this:

[code]

With the default `HostComponent` of Spectator, which has no properties, you cannot do this. You can only test things like `<expansion-panel [title]="'foo'" [open]="true"></expansion-panel>`. Also, with this custom host, you can add methods or spy functions in a clean and typed way.

[2019-03-30 10:19] IlCallo commented on #97
It doesn't seem like they are going to fix this at all...
Do you think it would be possible to create an "out-of-jquery" solution?

[2019-03-30 10:21] dirkluijk commented on #97
We could also just change it to `$(el).is(':visible') && !$(el).is('[hidden]')` and `$(el).is(':hidden') || $(el).is('[hidden]')`.

@NetanelBasal what do you think?

[2019-03-30 10:53] IlCallo commented on #87
As he said. I actually discovered this pattern  with this library and it's really useful, because I can write tests which do not break when I change the underlying structure and/or class names

[2019-03-30 11:13] elena-dev-thought commented on #99
Ok, I think I got it :D So to test outputs you really need the custom host. If I have only Inputs to test, I can go for the third argument in the createHost function.

Thank you!!!

[2019-03-30 11:13] #99 closed

[2019-03-30 19:34] NetanelBasal commented on #97
Will it work for you?

[2019-03-30 20:52] dirkluijk commented on #89
Weird. I suddenly cannot measure any difference anymore. As if my laptop was just slow the first test run. How weird.

Can someone else test as well?

[2019-03-30 21:39] IlCallo commented on #89
If you are using Jest via Nx and jest-angular-preset, there're some known performance problems with the first run after last update to jest 24.
Check their repo issue tracker to find out more

[2019-03-30 21:43] IlCallo commented on #97
I guess yes for my use case, but it won't solve problems with jQuery and jsdom 🤔

[2019-03-31 04:55] #98 closed

[2019-03-31 04:56] NetanelBasal commented on #97
You can submit a PR that replace this with native JS implementation if you want.

[2019-04-09 11:44] jpzwarte opened #102 "Need to explicitly call detectChanges with host"
[code]

My understanding is that when i call `setInput`, it automatically calls `detectChanges`. But if i remove the 2nd line above, the test fails. This only happens with `SpectatorWithHost`.

[2019-04-09 11:47] NetanelBasal commented on #102
It depends on the use-case. It can call it on the host or the component. https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/internals.ts#L57

I can't tell what's your case.

[2019-04-09 11:49] jpzwarte commented on #102
[code]

Does that help?

[2019-04-09 11:51] NetanelBasal commented on #102
It calls https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/internals.ts#L50 which is the host, which I guess it what you need. The `setInput` invoke the `detectChanges` method on the tested component.

[2019-04-09 11:53] jpzwarte commented on #102
Ok, so works as designed? Or is there something that can be improved here? :)

[2019-04-09 11:55] NetanelBasal commented on #102
Yes, it works as expected. It's confusing sometimes, but that's how Angular works. You have the host and the component itself. We can add a third parameter to `setInput`, but I can't see any benefit for this.

[2019-04-09 11:56] NetanelBasal commented on #102
Something like:
`host.setInput('disabled', true, { hostDetectChanges: true });`

[2019-04-09 11:56] #102 closed

[2019-04-09 11:56] jpzwarte commented on #102
Nah, that feels overkill.

[2019-05-01 11:33] schmkr commented on #67
After asking in the ngxs Slack if anyone had any experience with this, there was noone that actually did, but one person replied

That got me thinking, isn't _that_ the same for all other libraries (ngrx, mobx, Akita)? I am not sure, but if that is the case, would it be possible, or is there any recommendation, on how to set up such object constants for testing with Spectator? Maybe by providing a

[2019-05-01 19:34] fr0 opened #104 "typeInElement should fire input event as canBubble=true"
[code]

[2019-05-02 05:30] NetanelBasal commented on #67
How would you do that without spectator?

[2019-05-02 05:35] NetanelBasal commented on #104
Do you want to create a PR and pass here `true`? https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/type-in-element.ts#L14

[2019-05-03 09:46] schmkr commented on #67
Yesterday, thanks to the documentation on this page https://netbasal.gitbook.io/spectator/services and the chapter about Typed Mocks, I managed to use that for testing both a NGXS state and an Angular Guard.

[code]

I think I tried too hard to use `createService` or `createTestComponentFactory` or `createHostComponentFactory`.

[2019-05-07 09:45] jsantha opened #105 "Mouse event helpers missing features"
Event object helpers for creating mouse events miss following features:

- event bubbling
- specifying mouse event button

Quick look at current implementation of Angular CDK library mouse event helpers shows that there is enabled event bubbling by default and you can explicitly specify a mouse button.

**Spectator:**
https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib

[2019-05-07 12:22] #104 closed

[2019-05-07 12:22] #105 closed

[2019-05-07 14:09] jsantha commented on #105
We need this line as well:
https://github.com/angular/components/blob/master/src/cdk/testing/event-objects.ts#L31

Otherwise the **mouseenter** event is considered fake, see:
https://github.com/angular/components/blob/master/src/cdk/a11y/fake-mousedown.ts

[2019-05-07 18:46] NetanelBasal commented on #105
Done.

[2019-05-13 10:58] IlCallo opened #106 "feat: allow declarations/entryComponents on createService"
Hi, I'm trying to test a service using MatDialog to open a component.
I want to mock the component, because I'm only interest in the service stuff, not really what the component does.
Problem is I don't have `declarations` and `entryComponents` on `createService` method, so I cannot specify a mock for the component.

I tried adding a dummy module and mocking it with ng-mocks like this

[code]

It

[2019-05-13 11:01] NetanelBasal commented on #106
Can you share the service, please?

[2019-05-13 11:15] IlCallo commented on #106
[code]

The service is basically a proxy to the component, to use it both via Dialog and in templates.

[2019-05-13 11:31] NetanelBasal commented on #106
Yes, I see. The issue is this `this.dialog.open(MyComponent);` line.

[2019-05-13 11:33] NetanelBasal commented on #106
We should allow passing `entryComponents` and `declarations` here: https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/src/lib/service.ts#L31

[2019-05-13 12:48] IlCallo commented on #106
Yes, probably it could be a good idea to keep a single basic interface for both createComponent and createService and then specialize it for extra options of the two methods.

Probably the base should be derived from https://github.com/NetanelBasal/spectator/blob/9edad7d1c68cf399768b5d7cbe4e7f21f598cfca/projects/spectator/src/lib/config.ts#L20-L30

I also opened an issue on ng.mocks for (probably)

[2019-05-13 12:55] NetanelBasal commented on #106
Try 3.8.0, please.

[2019-05-13 15:32] IlCallo commented on #106
Tryed, apparently it didn't help much.
I tryed it both using ng-mocks and with the real component and its dependencies.

[code]

[code]

Still same error
[code]

Any idea on how can I debug this further?

[2019-05-14 22:02] rogerza opened #107 "Fix JQuery Npm Audit Vulnerability"
Update to jquery 3.4.0 needed to patch this vulnerability.

[www.npmjs.com/advisories/796](https://www.npmjs.com/advisories/796)

![image](https://user-images.githubusercontent.com/2261336/57735350-e52bb000-7669-11e9-916b-faa43d8d1d3e.png)

[2019-05-15 06:00] NetanelBasal commented on #106
Can you create a simple demo of this, please? stackblitz or new repo, so I can investigate further.

[2019-05-15 08:54] benelliott commented on #106
@IlCallo I expect the problem is that in your service you are directly referencing the class of the unmocked component. When you ask `MatDialog` to instantiate this it will complain because this component cannot be found in the injector tree (you have mocked it, but your service will not automagically point to the mocked component instead).

If I'm correct, this is more a limitation of your codeba

[2019-05-15 09:49] askarby commented on #107
I've attempted to bump the version of jQuery to 3.4.1.

The PR can be found here: https://github.com/NetanelBasal/spectator/pull/108

When running `npm test` all tests passes, but `npm start` is not able to bring up the example application (I'm doubting that I have anything to do with that).

[2019-05-15 10:10] #107 closed

[2019-05-15 12:49] IlCallo commented on #106
If that's the case, shoudn't the third way I tried work?

This one

[code]

Given that I'm providing the mocked class using the original class token.

Next week, hopefully, I'll try to refactor the codebase to stub `MatDialog` or creare a repro (if the refactor won't work)

[2019-05-15 12:54] benelliott commented on #106
@IlCallo I think that would only work if the service that instantiates the dialog pulls the component class from the injector rather than by directly pointing to the class file.

[2019-05-15 15:18] Lavioli opened #109 "Bumping version 3.8.1 but still getting jquery 3.3.1"
After updating to 3.8.1 and reinstalling, I am seeing the dependency for jQuery is still 3.3.1.
![Screen Shot 2019-05-15 at 10 15 34 AM](https://user-images.githubusercontent.com/17465323/57787296-b4e02200-76fa-11e9-94f5-95811f31792d.png)

[2019-05-15 15:22] Lavioli commented on #109
Have tried `npm ci`, deleting node_modules folder and reinstalling. the jquery dependency is still showing 3.3.1

[2019-05-15 15:49] benelliott commented on #109
The version number needs to be updated here: https://github.com/NetanelBasal/spectator/blob/master/projects/spectator/package.json#L27

[2019-05-15 15:49] NetanelBasal commented on #109
Yes, on it.

[2019-05-15 15:54] NetanelBasal commented on #109
Fixed in v3.8.2

[2019-05-15 15:54] #109 closed

[2019-05-15 15:56] Lavioli commented on #109
Thank you :)

[2019-05-16 13:31] morenoisidro opened #110 "[question]: Angular Routing Testing support"
Hi, is it planned to support angular routing testing in the near future? Thx!

[2019-05-16 13:37] NetanelBasal commented on #110
Sure

[2019-05-17 11:14] IlCallo opened #111 "Specify usage when testing ngOnChanges/OnPush life-cycle hook"
As said in https://github.com/NetanelBasal/spectator/issues/38, it would be a good idea to specify that to test code which uses ngOnChanges (and also components with changeDetection OnPush I think, given https://github.com/angular/angular/issues/12313) you are forced to manually call ngOnChanges (won't work for OnPush scenario I guess) or use a setup with a custom host component binding a property

[2019-05-18 12:07] marcj commented on #36
@NetanelBasal your example does not use the `ControlValueAccessor`, but simply overwrites the `foo` property, without using ngModel at all.

[2019-05-18 13:36] marcj commented on #36
For anyone interested in a better solution:

`tests.ts`
[code]

Actual `test.spec.ts`:
[code]

[2019-05-21 11:53] MartinNuc commented on #68
New issue here: https://github.com/NetanelBasal/spectator/issues/106

[2019-06-10 13:35] IlCallo commented on #106
@NetanelBasal is there a Spectator-ready stackblitz from which to create a repro?

[2019-06-10 13:47] NetanelBasal commented on #106
https://stackblitz.com/edit/angular-testing-spectator-ivrsbj

[2019-06-10 15:06] IlCallo commented on #106
Here the repro.
https://stackblitz.com/edit/angular-testing-spectator-td7onb

I had to update some dependencies and I removed unusued code.

[2019-06-10 15:38] NetanelBasal commented on #106
You can use the `ANALYZE_FOR_ENTRY_COMPONENTS` provider to register it.

[code]

[2019-06-10 16:02] IlCallo commented on #106
Updated repro: it works if `ng-mocks` isn't used to mock the component, this work also just by providing components into `entryComponents` in some scenarios.
It could be a nice add to internally convert what is declared into `entryComponents` to that provider-notation.

Unfortunately, this doesn't totally resolve the use case.
In the repro, the component is super simple and without nested componen

[2019-06-10 16:28] NetanelBasal commented on #106
Yes. I guess it's something with the ng-mocks implementation.

[2019-06-10 16:34] benelliott commented on #106
From glancing at the ng-mocks source code (https://github.com/ike18t/ng-mocks/blob/master/lib/mock-component/mock-component.ts#L86) it looks like the mocked component only `provide`s itself in its own injector. This isn't sufficient for `MatDialog` because it will be injected wherever `MatDialogModule` has been imported, so won't see the component declaration.

[2019-06-10 17:57] ike18t commented on #106
I don't have any experience using Angular Material but I do see that I can get the component's providers via the MockDirectiveResolver...that may be a slippery slope of needing to know what providers to mock vs what not to mock though.

[2019-06-11 09:47] IlCallo commented on #106
Apparently being a ng-mocks issue, let's continue the discussion on https://github.com/ike18t/ng-mocks/issues/51 and let's see if it can and should be fixed

[2019-06-11 10:30] IlCallo commented on #97
I'm trying to change the implementation but I would like to keep

for Jasmine (to keep the code cleaner and more performant) and only switch back to jQuery 1 implementation for Jest, probably something like

[code]

Is it possible to register different version of the matcher for the two testing frameworks?
Or is it possible to know which testing framework is running the test at runtime *inside* th

[2019-06-11 10:54] NetanelBasal commented on #97
I would keep it simple and go with something that works.

[2019-06-11 11:17] IlCallo commented on #97
It depends on your perception of "something that works", given that it's always a matter of tradeoffs:
* Prototype-changing implementation theoretically works for every framework, but potentially have major performance impact;
* jQuery1 implementation detects visibility only the direct child, eg. it won't understand that children of an hidden element are hidden themselves

I can also try to use th

[2019-06-11 11:27] NetanelBasal commented on #97
What about plain old JS?

[2019-06-11 12:52] IlCallo commented on #97
I have nothing against plain JS (I actually prefer it over jQuery), but touching clean and working code (the one for Jasmine) is never a good idea for someone (me) which doesn't know well the codebase, expecially when there are no tests for the changed feature...

Anyway I did it with plain JS (noticing only at the end that a `setup-jest` file actually existed), I'll PR it soon

[2019-06-13 05:47] #97 closed

[2019-06-16 18:32] antonpegov opened #114 "Can't bind to ..."
Am I missing something, but looks like spectator not mocking pipes and can't mock components with inputs?
I'm getting Error **Can't bind to 'chartId/chartData/showDefaultPresentationData' since it isn't a known property of 'app-highcharts'** :

My test:

[2019-06-16 23:40] benelliott commented on #114
Yes, you need to pass the mocked components and pipes into Spectator's `createHostComponentFactory` method. The recommended way to do this is to use the `ng-mocks` library.

Spectator won't automagically figure out which components need to be mocked, especially since the same component will sometimes need to be mocked in different ways depending on the test.

[2019-06-17 07:42] antonpegov commented on #114
Then what is the purpose of Spectator? I thought it was created to automatically mock dependent components, including ones from third-party libraries.

[2019-06-17 08:55] antonpegov opened #115 "How to generate mouse click on element?"
Without Spectator it was:

Now, with Spectator It not working anymore:

[2019-06-17 09:18] benelliott commented on #114
No - it's to reduce the boilerplate you usually have to write when [writing Angular unit tests](https://angular.io/guide/testing#component-test-scenarios).

[2019-06-17 09:18] #114 closed

[2019-06-17 09:20] benelliott commented on #115
Try `spectator('.btn-link').click()` or `spectator(button).click()`.

Please can you read [the documentation](https://netbasal.gitbook.io/spectator/) before opening an issue? It includes a lot of examples.

[2019-06-17 09:20] #115 closed

[2019-06-17 10:13] antonpegov commented on #115
@benelliott I did. Try to enter "spectator.click" in the search and you will see nothing. The documentation is really unfriendly to newcomers.

[2019-06-17 10:28] benelliott commented on #115
Sorry to hear that, although it does come up when you search for "click". Suggestions for improving the docs are welcomed.

[2019-06-20 00:13] glackk opened #116 "fix(spectator): loosen type restrictions on Spectator.get"
The TypeScript definition on Spectator.get doesn't allow type `any`, which is more restrictive than the wrapped `TestBed.get` (e.g. cannot use abstract classes).  The issue and fix are likely similar to [PR48](https://github.com/NetanelBasal/spectator/pull/48).

[2019-06-20 07:26] benelliott commented on #116
Could you provide a code snippet to show what you mean?

[2019-06-20 07:57] tobang opened #117 "Support needed. Test service call in ngOnInit of component"
I have just switched to testing with Spectator and Jest. I am trying to test if a service function is called during ngOnInit. It is just a simple utility service without any http calls.

On the component I have the following:
.....
 @Input() arrangement: Arrangement;

  public valgForm: FormGroup;

  constructor(private vcs: ValgControlService) {}

  ngOnInit() {
    this.valgForm = this.vcs.toFor

[2019-06-20 09:47] benelliott commented on #117
Hi, please could you format your code using three backticks so it's readable?

[code]

[2019-06-20 10:58] tobang commented on #117
Oh, sorry

[code]
[code]

[2019-06-20 11:38] benelliott commented on #117
Hmm... nothing is jumping out at me so far. Please could you provide the full source of your `dgi-valg` component including its decorator, along with the error message in the test failure?

[2019-06-20 11:40] tobang commented on #117
Solved the issue myself with this test:

[code]
Thank, for your time.

[2019-06-20 11:40] #117 closed

[2019-06-20 11:59] benelliott commented on #117
Ah yes - you were providing a mock of `ValgControlService` but must create a spy in order to test whether its methods have been called.

[2019-06-21 10:39] DuncanFaulkner opened #118 "Add other HTTP methods to Enum"
I've started to use Spectator recently after reading an article by Wes Copeland and it has helped me be able to test services in my Angular app.

I recently hit an issue in that the application I'm writing tests for uses PATCH (rather than PUT).
I was going to try and add this myself and do a PR for it but at the moment. I'm not able to build the project, fails on npm i (looks something to do with

[2019-06-21 11:32] benelliott commented on #118
Note: also missing HEAD, OPTIONS, (JSONP?)

[2019-06-21 13:54] NetanelBasal commented on #118
`as any` should work for now.

[2019-06-21 14:32] NetanelBasal commented on #118
Added in the latest version. https://github.com/NetanelBasal/spectator/commit/b608473c7cc671cb1e7a0e71531619faf3353676

[2019-06-21 14:32] #118 closed

[2019-06-22 21:31] LayZeeDK opened #119 "README files are out of sync"
[`/README.md`](https://github.com/NetanelBasal/spectator/blob/b608473c7cc671cb1e7a0e71531619faf3353676/README.md) and [`/projects/spectator/README.md`](https://github.com/NetanelBasal/spectator/blob/b608473c7cc671cb1e7a0e71531619faf3353676/projects/spectator/README.md) are out of sync.

Can we just delete the latter one and make sure to copy and bundle the one in the root project directory?

[2019-06-22 21:45] LayZeeDK opened #120 "Multiple lockfiles"
We have both [`package-lock.json`](https://github.com/NetanelBasal/spectator/blob/b608473c7cc671cb1e7a0e71531619faf3353676/package-lock.json) and [`yarn.lock`](https://github.com/NetanelBasal/spectator/blob/b608473c7cc671cb1e7a0e71531619faf3353676/yarn.lock) lockfiles.

This is a recipe for disaster as it can lead contributors to get out of sync depending on which package manager they use.

At thi

[2019-06-23 04:06] NetanelBasal commented on #120
We will go with npm. Thanks.

[2019-06-23 04:06] #120 closed

[2019-06-23 04:07] NetanelBasal commented on #119
Done. Thanks.

[2019-06-23 04:07] #119 closed

[2019-06-24 10:38] twjacobsen opened #122 "Bug: `el.getClientRects is not a function` on version 3.9.2"
Hi,

I've just upgraded to 3.9.2, and I'm seeing this exception when using `isVisible()` matcher:

`el.getClientRects is not a function`.

Downgrading to 3.9.1 resolves the issue.
Using Headless Chrome (latest build), with Jasmine and Karma.

[2019-06-24 12:01] benelliott commented on #122
Hi, is `el` definitely a DOM element? Please could you post your spec code?

[2019-06-24 12:03] twjacobsen commented on #122
I haven't checked, but reading the tests, on 3.9.1 both `.toBeVisible()` and `.not.toBeVisible()` works as expected. The exact syntax is `expect('.class-selector').toBeVisible()`

[2019-06-24 12:13] NetanelBasal commented on #122
Maybe it's related to the new [implementation](https://github.com/NetanelBasal/spectator/blob/843c5dff226d37a0f78811bbdd294f62837d4f5c/projects/spectator/src/lib/matchers.ts#L250). Can you please share the code or reproduce on Stackblitz?

[2019-06-24 12:15] twjacobsen commented on #122
That was my assumption as well - got that assumption confirmed when downgrading. I'll try getting something reproduced on Stackblitz when I have some time.

[2019-06-24 12:18] benelliott commented on #122
It will be because the previous implementations passed your `expect` input through jQuery, which would convert a selector to an element before executing the check. The new implementation does not do this.

[2019-06-24 12:18] benelliott commented on #122
You can see this here:

https://github.com/NetanelBasal/spectator/commit/fd7c9474e62f2d1cea4b7e93f5d06d86796c3374#diff-c75eb71edd2ca39a6fdc949a98fa1dacL254

[2019-06-24 12:19] NetanelBasal commented on #122
Right. This was a breaking change we didn't take into account.

[2019-06-24 12:19] benelliott commented on #122
This is a regression since the documentation illustrates this kind of usage: https://netbasal.gitbook.io/spectator/api/matchers

[2019-06-24 12:23] NetanelBasal commented on #122
We should pass the argument through JQuery and use it.

[2019-06-24 12:23] benelliott commented on #122
I can push a quick fix for this.

[2019-06-24 12:27] NetanelBasal commented on #122
Thanks!

[2019-06-24 12:55] #122 closed

[2019-06-24 13:02] benelliott commented on #122
Should be available in 3.9.3

[2019-06-24 13:19] benelliott commented on #122
...Make that 3.9.4. Sorry @NetanelBasal, made a mistake during publish!

[2019-06-24 13:19] NetanelBasal commented on #122
No problem.

[2019-06-25 17:50] joshiraez opened #125 "[question]: How to mock service in the "mocks" parameter in createTestComponentFactory?"
Hi.

I have a component that, onInit, will try to subscribe to a repository observable.

I have found that, inside "providers", I can use the "mockProvider" function and pass on my mocked functions behaviours. Plus, this is done before even creating the component, so I can let automatic change detection to true.

Is there any way to do this using the "mocks" parameter? Is to allow everyone to alwa

[2019-06-25 23:09] benelliott commented on #125
Hi, as you mentioned you can do this using `providers`. This is not possible using `mocks` because it is just a shortcut for creating mocks that are simple spies of the classes provided. Adding support for this would probably bloat the API for the `mocks` property enough as to make it pointless.

If you want to use the same API in both cases, you could use `providers: [mockProvider(...)]` even whe

[2019-06-26 05:57] twjacobsen commented on #122
I just tried upgrading to 3.9.4 last night, and it was still not working. Sorry I haven't been able to find time to create a minimal repro. I'll get around to it, though.

[2019-06-26 06:23] twjacobsen commented on #122
Right, so I just had a thought. How does `isVisible` handle elements, that are not in the DOM at all? I haven't checked, but how should it work on an element with `*ngIf`?

[2019-06-26 06:24] NetanelBasal commented on #122
No, if you want to assert about ngIf, you should use `toExist`.

[2019-06-26 06:26] twjacobsen commented on #122
Yep, that's what I figured as well. But *should* `isVisible` support that? I mean, the fact it does not exist also means it's not visible ;)

[2019-06-26 06:27] joshiraez commented on #125
Yeah, that as much as I discovered. I guess that if you want to keep it separate like that, its ok. Thank you for the answer

Btw, do you accept PR's for documentation?

[2019-06-26 06:27] NetanelBasal commented on #122
No, check [here](https://api.jquery.com/visible-selector/) what `isVisible` means.

[2019-06-26 06:35] twjacobsen commented on #122
According to those docs:

Does that not mean, that elements that are removed with `*ngIf` will not be selected with the `:visible` selector?

[2019-06-26 07:58] benelliott commented on #125
Unfortunately the documentation is not hosted on Github - not sure if @NetanelBasal has a process for this?

[2019-06-26 08:03] NetanelBasal commented on #125
It's currently hosted in Gitbook. We should migrate it to Github Wiki so that other developers could contribute.

[2019-06-26 08:52] benelliott commented on #125
I like Gitbook for consuming the docs - maybe we could use something like https://docs.gitbook.com/integrations/github so the source of truth is Github but the docs are still readable through Gitbook.

[2019-06-26 08:56] NetanelBasal commented on #125
Thanks. I will check it out.

[2019-06-26 14:07] jakubjosef opened #126 "Schematics styleext not works as described (fix included)"
Hi,
I found a small problem during integrating spectator schematics to our project.

We using SCSS and when I used code snippet from README with
[code]

It was not working. And it's because we generating components with `ng g cs` and `cs` is shorthand for `spectator-component`, that means we needed to use this code instead
[code]

Please update a README.

Also I need to say we expected this schema

[2019-06-26 19:59] NetanelBasal commented on #126
Unfortunately, this is not currently possible. We'll update the README, thanks.

[2019-06-26 19:59] #126 closed

[2019-06-28 15:11] fr0 opened #127 "Upgrade from 3.9.1 to 3.9.4 breaks my tests"
There are two sets of failures popping up in 3.9.4 that passed in 3.9.1:

[code]

And

[code]

Both issues are related to the `toBeVisible` helper.

[2019-06-28 15:13] fr0 commented on #127
Probably caused by https://github.com/NetanelBasal/spectator/commit/fd7c9474e62f2d1cea4b7e93f5d06d86796c3374

[2019-06-28 15:15] benelliott commented on #127
Hi, this sounds like https://github.com/NetanelBasal/spectator/issues/122

Please could you double-check you have got v3.9.4 (e.g. by clearing out `node_modules/@netbasal` and reinstalling)?

[2019-06-28 15:21] fr0 commented on #127
Thanks for the response.

I deleted my `yarn.lock` file and my `node_modules` folder, reinstalled, and the problem still happens.

[2019-06-28 15:22] fr0 commented on #127
As mentioned in https://github.com/NetanelBasal/spectator/issues/122#issuecomment-505740308 --

[code]

If this was intended, this is a breaking change and should've been published in a 4.0 release, not in a patch release.

[2019-06-28 15:24] benelliott commented on #127
I don't believe it was an intended behavioural change, but this is probably what's causing your issue. Is the element you are checking indeed removed from the DOM?

[2019-06-28 15:26] NetanelBasal commented on #127
So to re-support it, we need to add `if(!el) return true`.

[2019-06-28 15:32] fr0 commented on #127
Yes, if I change the `.not.toBeVisible()` calls to `.not.toExist()`, the tests pass.

[2019-06-30 08:35] LayZeeDK commented on #110
Any ideas for what could be useful, @morenoisidro?

Any ideas from you, @NetanelBasal?

[2019-06-30 14:30] NetanelBasal commented on #110
We have to check out the "painful" points here.

[2019-06-30 15:34] LayZeeDK commented on #110
Exactly

[2019-07-01 18:47] LayZeeDK commented on #110
I remembered one thing from testing Router-related things.

If we have a component that subscribes to route parameters, it would be nice to have a utility function to create fake route parameters for testing purposes.

[2019-07-01 18:55] LayZeeDK commented on #110
# Testing a routing component
_[Examle from Angular.io](https://angular.io/guide/testing#routing-component)_

[code]

[code]

Here, we simply want to verify that the side effect of triggering navigation happens when the button is clicked.

It would be nice to be able to add a `Router` spy object spying on methods such as `navigateByUrl` and `navigate`.

[2019-07-01 19:54] LayZeeDK commented on #110
# Nested component tests
_[Examples from Angular.io](https://angular.io/guide/testing#nested-component-tests)_

## Stubbing `RouterOutlet`
[code]

[2019-07-01 21:16] LayZeeDK commented on #110
# Router setup
_[Example from CodeCraft](https://codecraft.tv/courses/angular/unit-testing/routing/#_router_setup)_

A lot of setup is involved to use `RouterTestingModule` for tests.

We could create a test harness class similar to `Spectator` and `SpectatorWithHost` to have access to the `Router` and `Location` services and call `Router#initialNavigation`.

[code]

[2019-07-01 23:12] glackk commented on #116
Sure.  Here's a small example:
[code]
The error occurs on the first line of the actual test with 'spectator.get'.

[2019-07-02 06:48] NetanelBasal commented on #110
Sounds good. I'm too busy and can't work on it. If someone wants to contribute, it will be helpful.

[2019-07-02 08:13] LayZeeDK opened #129 "feat: easier API for tests involving HttpClient"
Like recent discussions on tests involving the router, we could consider whether we could create an easier testing API for HttpClient.

https://angular.io/guide/http#testing-http-requests

[2019-07-02 08:15] NetanelBasal commented on #129
https://netbasal.gitbook.io/spectator/services/data-services

[2019-07-02 08:19] LayZeeDK commented on #127
I see that a fix has been merged but not published in a new version. How can OP try out the fix, @NetanelBasal?

[2019-07-02 08:31] LayZeeDK commented on #129
I completely missed that. My apologies 😅 I may revisit this and see how it stacks up when compared against the vanilla Angular test examples.

[2019-07-02 08:31] #129 closed

[2019-07-09 16:15] timwright35 opened #130 "[Question]: Interceptor testing"
I have a series of interceptors in my system that each do something different. One caches data, one changes the url, one formats data etc. I am trying to test them using your system but the example does not really show the best way to hit the intercept function with a request and then see what the modified url/data is. It seems we have to mock the handle function and thus the intercept logic never

[2019-07-16 02:02] LayZeeDK commented on #110
What do you think, @morenoisidro?

[2019-07-16 02:25] LayZeeDK commented on #130
Hi Tim,

If you change your `next` handler in the test, you should be able to verify properties of the processed response.

[code]

[2019-07-25 09:48] GregOnNet opened #131 "[jest] it.each type conflict"
Hi @NetanelBasal,

thank you for providing `spectator` I am a big fan of the API you have created.
I tried your library and it seems that some type-definitions of `spectator` still override jest's type definitions.

Importing `@netbasal/spector/jest` causes a compiler error when `it.each` is used.

I prepared a repository reproducing this behaviour:

- git clone https://github.com/GregOnNet/specta

[2019-07-25 11:03] NetanelBasal commented on #131
@dirkluijk thoughts?

[2019-07-25 12:35] GregOnNet commented on #131
I missed to mention, that `test.each` works fine.
Only `it.each` causes problems.

[2019-07-25 14:56] timwright35 commented on #130
Thanks!

[2019-08-02 19:06] fr0 opened #136 "Suggestion: add a CHANGELOG.md at the root of this repo"
https://keepachangelog.com/en/1.0.0/

[2019-08-03 19:28] #130 closed

[2019-08-03 19:29] #127 closed

[2019-08-03 19:29] NetanelBasal commented on #127
Released.

[2019-08-03 19:30] #125 closed

[2019-08-03 19:31] NetanelBasal opened #137 "Migrate from Gitbook to Wiki"

[2019-08-04 13:26] NetanelBasal commented on #116
@dirkluijk your PR takes care of this issue?

[2019-08-04 13:34] dirkluijk commented on #116
Yes!

[2019-08-04 14:37] #131 closed

[2019-08-04 14:39] #116 closed

[2019-08-05 08:13] NetanelBasal opened #140 "API Changes (v4)"
I think about the following changes: (breaking changes)

[code]

This is a more simple, clean, and scalable approach.

- ~~API changes discuss in this issue~~
- ~~Eagerly initiate a service when using `createService`~~.
- New unit testing suite with coverage thresholds (consider to delete the whole specs files and create a stronger suite from scratch)
- ~~Take a fresh look at the API what to keep,

[2019-08-05 09:22] dirkluijk commented on #140
Funny, I had exactly the same idea yesterday when looking at your POC. 😄

Looks good to me!

[2019-08-05 09:23] NetanelBasal commented on #140
It's the right time to bring more ideas if you have.

[2019-08-05 09:28] dirkluijk opened #141 "Sementic releases and changelogs"
As we already follow [Conventional Commits Specification](https://www.conventionalcommits.org/), I think it 's a good idea to maintain an automatic changelog.

We can maintain such changelog using [standard-version](https://github.com/conventional-changelog/standard-version) or [semantic-release](https://github.com/semantic-release).

[2019-08-05 09:29] NetanelBasal commented on #141
standard-version

[2019-08-05 09:29] dirkluijk commented on #137
Why, did you encounter issues with Gitbook? And what wiki do you have in mind?

[2019-08-05 09:30] NetanelBasal commented on #137
The same. It's easier to contribute.

[2019-08-05 09:30] dirkluijk commented on #141
👍

I'll take a look this week when I have time.

[2019-08-05 09:31] dirkluijk commented on #136
Oops, duplicated your issue in https://github.com/NetanelBasal/spectator/issues/141. 😉

[2019-08-05 09:33] dirkluijk commented on #110
I'll see what I can do.

Add a previous project I used this stub implementation for `ActivatedRoute` which was really helpfull.

[code]

[2019-08-05 09:36] dirkluijk commented on #89
Closed as the POC in https://github.com/NetanelBasal/spectator/pull/100 did not deliver the expected results.

[2019-08-05 09:36] #89 closed

[2019-08-05 09:39] dirkluijk commented on #137
+1

[2019-08-05 11:41] dirkluijk opened #142 "New query capabilitities"
Currently, we can query for selectors, directives, or directive with a `read` option:
[code]
However, we cannot combine a selector with a `read` option:
[code]
Wouldn't it be nice to have one?

[2019-08-05 12:15] NetanelBasal commented on #142
What's the use case?

[2019-08-05 12:34] dirkluijk commented on #142
Sometimes, you have a lot of directives in your template and you want to query for a very specific one, but retrieve its directive instance instead of the HTML element.

Say you have a component with the following template part:
[code]

I would like to test this part like this:
[code]

[2019-08-06 07:37] #142 closed

[2019-08-06 09:39] #136 closed

[2019-08-06 09:39] #141 closed

[2019-08-06 14:41] dirkluijk commented on #140
Given:
[code]

It's a bit unclear that calling `createService()` does not construct the service, unless you invoke `spectator.service` or `spectator.get(FooService)`. In other words, it is lazy which may be unclear.

Normally this is no problem because you should interact with the service first, but not when there is logic in the constructor that you would like to test.

Two possible solutions:
1)

[2019-08-06 15:51] NetanelBasal commented on #140
I would go with option two.

[2019-08-07 08:46] MartinNuc commented on #137
We have issues with gitbook - it uses some weird DNS configuration and basically only first html render works for us. When navigated in SPA the page doesnt show up.

[2019-08-07 14:24] lppedd commented on #140
@NetanelBasal a bit off topic, but what's the ETA for release 4?
I don't want to start writing tests now, if after I'll have to convert them.
Btw, thanks for the great work ;)

[2019-08-07 15:59] NetanelBasal commented on #140
I hope to get it done by the end of the month. Unless @dirkluijk want to help :)

[2019-08-07 19:08] fr0 opened #146 "Can't find a debug element for <selector>"
Tests that passed in 3.10 are failing in 3.11.

[code]

[code]

I'm not sure what to do with the error. `.text` is not supposed to exist (which is specifically what I'm checking for).

Simple to reproduce:

[code]

[2019-08-07 19:15] NetanelBasal commented on #146
@dirkluijk it probably related to the query changes. Can you check it, please?

[2019-08-07 20:01] dirkluijk commented on #146
Yes, I think it is regression. I was already planning on expanding the test suites to cover some (edge) cases. Maybe even rewrite the whole test suite (before moving on to v4).

I’ll take a look at this issue first.

[2019-08-07 20:03] NetanelBasal commented on #146
There are more issues regarding the new `types` changes. I will point them in the v4 pull request.

[2019-08-07 20:04] fr0 commented on #146
You will probably want to add a unit test to spectator for the `not.toExist()` case, since this something I do very often in my tests. (You could just copy my example above if you want.)

[2019-08-07 20:08] dirkluijk commented on #140
Of course. Let’s discuss it what to do and what not.

I was thinking of:
- API changes discusses in this issue (service factories and new factory options)
- New unit testing suite with coverage thresholds
- Take a fresh look at the API what to keep, what to add and what to remove/deprecate
- new Wiki? Or updating the existing docs
- A new RoutedSpectator (which extends Spectator like SpectatorWith

[2019-08-07 20:09] NetanelBasal commented on #140
Let us revert the changes you made with the query and the types. There are multiple errors. We'll add them to v4. Can you do it?

[2019-08-07 20:10] dirkluijk commented on #146
Of course, thanks. I’ll sit behind my laptop later tonight.

[2019-08-08 06:22] NetanelBasal commented on #140
@dirkluijk tested it, and it works fine. I updated v4 with more things. You can see it in the first comment.

[2019-08-08 06:26] NetanelBasal commented on #140
There are still issues with `injection-tokens.jest.ts`

[2019-08-08 07:25] dirkluijk commented on #140
Yes I’ll take a look at it.

[2019-08-08 13:38] #146 closed

[2019-08-08 14:14] dirkluijk commented on #146
Released in 3.11.1.

[2019-08-08 21:16] fr0 commented on #146
npm still says 3.11.0 is the latest... do releases get automatically pushed?

[2019-08-08 21:19] dirkluijk commented on #146
Sorry, I did something wrong. New collaborator in this repo.... just a sec.

[2019-08-08 21:21] dirkluijk commented on #146
Done!

[2019-08-08 23:49] dirkluijk commented on #140
@lppedd feel free to check https://github.com/NetanelBasal/spectator/pull/149 and discuss the proposed changes

[2019-08-09 00:58] dirkluijk commented on #110
I have a proposal for Spectator v4 with a `createRoutedComponentFactory()` which returns a factory for `SpectatorWithRouting`.

It includes all existing Spectator features, with additionally:
- an integrated `ActivatedRouteStub` with a clean API
- support for changing the route params, queryParams and data
- support for configuring `Routes`
- support for auto-mocking routerLink directives
- automa

[2019-08-09 06:41] twittwer opened #150 "[Feature Request]: Query element by directive"
At first, awesome lib - helps a lot at testing 👍

For me it would be nice if it would be possible to query an element by its component class.

Currently `spectator.query(MyComponent)` will return the component instance, but it would be nice to retrieve the native or debug element. I think a good option to provide this would be by the second argument, where it's currently possible to get a componen

[2019-08-09 08:12] NetanelBasal commented on #150
We support it:

[code]

[2019-08-09 08:17] dirkluijk commented on #150
Yeah, I don't think it's good to expose DebugElement. After all, that's what makes Spectator great: encapsulate the inferior TestBed/DebugElement API's in a cleaner API.

I think it is nice that you can now choose what fits best:
[code]

What is your use case / what does your test code now look like?

[2019-08-09 08:22] NetanelBasal commented on #150
@dirkluijk we already support it ^^

[2019-08-09 08:23] NetanelBasal commented on #150
We expose the `debugElement` through `spectator.debugElement` if you need more control.

[2019-08-09 11:05] twittwer commented on #150
Oh, I did not think about that option 🙈

My use case for the debug element is a cascaded query.
Here is the test code before spectator:
[code]

[2019-08-09 12:59] NetanelBasal commented on #150
That's an interesting example.

[2019-08-09 13:50] dirkluijk commented on #150
Why not:
[code]
Where `datagrid-row` and `datagrid-cell` are the selectors.
Not tested but should work I think.

[2019-08-09 17:14] dirkluijk commented on #110
https://github.com/NetanelBasal/spectator/pull/151

[2019-08-09 17:52] twittwer commented on #150
I'm not sure, but it seems to me a bit more decoupled to work with the component classes.

[2019-08-14 15:17] dirkluijk opened #153 "Testing directives"
I have been busy with unit testing today. I have the feeling that testing directives can be more elegant.

[code]
This won't actually work: the `typeInElement` does a query inside the "component", not the host component. The "component" in this case is the directive. The workaround is: `spectator.typeInElement(text, spectator.element);`.

I have 2 suggestions:
1) change `SpectatorWithHost` to quer

[2019-08-14 20:20] NetanelBasal commented on #153
I prefer not to introduce a breaking change. We can add the same support for the host, for example:

[code]

It can extend Spectator. What do you think?

[2019-08-14 20:37] dirkluijk commented on #153
Yeah, that might be an improvement, however for this use case the change in https://github.com/NetanelBasal/spectator/pull/155 was already the solution (and that one is not breaking). 😉

So I think that PR closes this issue.

[2019-08-14 22:06] walrus95 commented on #114
@benelliott @NetanelBasal Well, the problem is that people have been going around saying that the purpose of Spectator is to automatically mock dependencies. The only reason I started looking into Spectator in the first place is because of such claims. For example, [this blog post](https://medium.com/@fivedicephoto/why-you-shouldnt-use-no-errors-schema-in-angular-unit-tests-cdd478c30782) reads:

"

[2019-08-15 07:07] #153 closed

[2019-08-15 10:29] benelliott commented on #114
Hi @walrus95, it's a good question worth clarifying.

I think there are multiple factors here:

1) It's not clear from the article exactly what the author means by "automatically mocks your dependencies". It could be interpreted as being that it will magically figure out what needs to be mocked and do so, but actually I think the author is just referring to the mocking shortcuts that Spectator use

[2019-08-19 11:42] dirkluijk opened #158 "Renaming suggestions (v4)"
Currently we have:

* `createTestComponentFactory` returning a factory for `Spectator`
* `createHostComponentFactory` returning a factory for `SpectatorWithHost`
* `createRoutedComponentFactory` returning a factory for `SpectatorWithRouting`
* `createHostDirectiveFactory` returning a factory for `SpectatorForDirective`
* `createServiceFactory` returning a factory for `SpectatorService`
* `createHt

[2019-08-19 13:12] NetanelBasal commented on #158
I am in. I think it's the right time now as we have more breaking changes. But I think `createComponentWithHostFactory` and `createComponentWithRoutingFactory` are too long. How about `createHostFactory` and `createRoutingFactory`.

- `createComponentFactory` returning a factory for Spectator
- `createHostFactory` returning a factory for SpectatorWithHost
- `createRoutingFactory` returning a facto

[2019-08-19 13:18] dirkluijk commented on #158
👍 Agreed.

I will change it asap. Would you keep the original names from v3 and deprecate them, or just remove it?

[2019-08-19 13:24] NetanelBasal commented on #158
Let's deprecate them and remove them in v5.

[2019-08-21 11:31] #158 closed

[2019-08-21 11:32] dirkluijk commented on #140
This issue is being closed, as we are close to finalizing v4.

[2019-08-21 11:32] #140 closed

[2019-08-22 11:43] alexpolgithub opened #164 "Errors were found in your package-lock.json"
After installing ng add @netbasal/spectator I get the following error in the terminal.

npm ERR! code ELOCKVERIFY
npm ERR! Errors were found in your package-lock.json, run  npm install  to fix them.
npm ERR!     Invalid: lock file's @netbasal/spectator@3.12.0 does not satisfy @netbasal/spectator@~3.2.1

I am running a brand new Angular 8.1.0 app using the Angular Cli.

[2019-08-22 11:54] dirkluijk commented on #164
This is a general issue with NPM unrelated to Spectator.

It seems that the version in your `package-lock.json` is not in sync with your `package.json`. Removing the `package-lock.json` file and running `npm install` again.

Please see https://github.com/npm/npm/issues/16866.

[2019-08-22 12:10] alexpolgithub commented on #164
I tried removing the package-lock.json but that did not resolve my issue. This is only happening when I try and install spectator.

[2019-08-22 12:24] dirkluijk commented on #164
I will try

[2019-08-22 12:56] alexpolgithub commented on #164
This solved it for me. Thanks.

[2019-08-22 13:34] dirkluijk commented on #164
There are 2 issues here:

* Our schematic adds an old version to `devDependencies`, while the installed version does not match the constraint.
* Angular CLI automatically installs it to `dependencies` too. This issue has been reported here: https://github.com/angular/angular-cli/pull/15410.

If the Angular CLI will support installing devDependencies, we can remove our schematic. Otherwise, we have

[2019-08-23 02:14] PowerKiKi commented on #137
By Wiki did you mean GitHub's wiki ? If so it is not possible to create a PR on the wiki. Unless if you meant to have the docs in the main repository, eg in a `docs` folder ?

[2019-08-23 04:50] NetanelBasal commented on #137
@PowerKiKi this issue is not relevant anymore as we refactor the docs and move it to the README file in v4. Thanks anyway.

[2019-08-26 19:08] #92 closed

[2019-08-26 19:16] dirkluijk commented on #110
Routing support has just been released in `4.0.0`. Please consult the [README](https://github.com/ngneat/spectator/blob/master/README.md#testing-with-routing) for more details about this new feature.

[2019-08-26 19:16] #110 closed

[2019-08-26 19:18] dirkluijk commented on #106
Support for service factories (`createServiceFactory` / `SpectatorService`) with entry components has just been released in 4.0.0. Please consult the updated README.

Feel free to open a new ticket if you have ideas or questions.

[2019-08-26 19:18] #106 closed

[2019-08-26 19:19] dirkluijk commented on #164
Since `4.0.0` the recommended way of installing is using `npm` / `yarn` instead of `ng` due to the lack of `devDependency` support.

Feel free to open a new ticket if you have ideas or questions.

[2019-08-26 19:19] #164 closed

[2019-08-26 19:21] dirkluijk commented on #150
Closing this issue as the desired functionality is provided by Spectator.

Feel free to open a new ticket if you have additional ideas or questions!

[2019-08-26 19:21] #150 closed

[2019-08-26 19:24] #137 closed

[2019-08-26 19:26] dirkluijk commented on #87
Since `4.0.0` the we support global queries: `spectator.query('.some-selector', { root: true })`. Please see the updated README for more details about this new feature.

Feel free to open a new ticket if you have ideas or questions.

[2019-08-26 19:26] #87 closed

[2019-08-26 19:30] dirkluijk commented on #111
The recommended way for testing inputs/outputs (thus, life-cycle hooks) is using a Host.

We have documented it briefly in the updated README, but we will add more docs with examples and cookbook articles when we have moved to a Gitbook wiki.

For now, I will close this issue. Feel free to open a new ticket if you have ideas or questions. ❤️

[2019-08-26 19:30] #111 closed

[2019-08-28 09:15] LayZeeDK commented on #110
Great addition 💪 I'm not sure it covers all these use cases though.

[2019-08-28 16:15] bekos opened #168 "Conflict with Jest matchers"
Nice project 👍

On a Jest spec file, when importing anything, even from just `@ngneat/spectator/jest` the matchers change from Jest to Jasmine.
For example this leads to `expect` from `jest.Expect` to turns into Jasmine's one, causing typescript complaining and losing all the autocomplete features for Jest, like `expect.objectContaining`.

[2019-08-28 19:03] dirkluijk commented on #168
I will look into it, anytime soon. Thanks for reporting!_

[2019-08-29 19:26] mpetito opened #170 "Schematics documentation"
Nice library! I might just be missing it, but it's unclear what schematics exist or how best to integrate this into an angular project.

For ex.,

 - can I change angular.json to use spectator for tests automatically?
 - is there a command to generate a spec file for an existing component?

[2019-08-29 19:53] NetanelBasal commented on #170
You don't need to change it. It's a library that works on top of Angular.

## Schematics
Generate component, service and directive with Spectator spec templates with Angular Cli: (when using it as default)

**Component**
* Default spec: `ng g cs dashrized-name`
* Spec with a host: `ng g cs dashrized-name --withHost=true`
* Spec with a custom host: `ng g cs dashrized-name --withCustomHost=true`

**

[2019-08-29 20:25] mpetito commented on #170
This would be great to add to the readme.  I couldn't find mention of these new Spectator specific schematics other than in #82.

For existing projects, or in cases where a component already exists via `ng g c`, it would be nice if there was a switch to generate a spec file for an existing component.  Something like `ng g cs dashrized-name --spec-only`.  Or perhaps `ng g cs dashrized-name` would s

[2019-08-30 15:13] NetanelBasal commented on #170
Addded it to the README file, thanks!

[2019-08-30 15:13] #170 closed

[2019-08-30 17:05] Rajanusa opened #171 "How to test ngOnChanges in angular library that has many input property"
Hi,

I would like to test ngOnChanges in angular library that has many input property.
Please find the code below.
isJSONSchema is a input property and based on that, value would converted and assigned to the field variable.

ngOnChanges() {
    if (this.isJSONSchema) {
      this.fields = [this.formlyJsonschema.toFieldConfig(this.jsonSchema)];
    }
    else {
      this.fields = this.jsonSchema;

[2019-08-30 17:22] benelliott commented on #171
You should test using a Host. See https://github.com/ngneat/spectator/issues/111

[2019-08-30 17:22] #171 closed

[2019-08-30 23:13] Rajanusa commented on #171
I am getting this error when I use the component with host approach as per your documentation.
Error: Template parse errors:
Unexpected closing tag "SynapsePrimengNgxformComponentippy". It may happen when the tag has already been closed by another tag. For more info see https://www.w3.org/TR/html5/syntax.html#closing-elements-that-have-implied-end-tags ("engNgxformComponent [model]="model" [fields

[2019-08-31 09:49] benelliott commented on #171
`<SynapsePrimengNgxformComponent [model]="model" [fields]="fields" [formGroup]="formGroup" [isJSONSchema]="true"></SynapsePrimengNgxformComponentippy>`

Your closing tag doesn't match here.

[2019-09-03 12:11] antonpegov opened #173 "Can't get instance of tested component when using custom host"
Hello, thanks for great lib!
I have DownloadComponent inside DropzoneComponent that itself used inside ParentComponent:
[code]
Now I want to test DropzoneComponent ability to redirect data from it's child DownloadComponent to it's parent ParentComponent.
[code]
[code]
Template of DropzoneComponent:
[code]
What I'm doing:
[code]
Now I have two problems in IT function:
1)  I got downloadComponent in

[2019-09-03 12:52] NetanelBasal commented on #173
Please format the code with proper markdown. It's hard to read.

[2019-09-03 12:53] antonpegov commented on #173
Sorry I can't find out how to do that.

[2019-09-03 12:55] NetanelBasal commented on #173
https://help.github.com/en/articles/creating-and-highlighting-code-blocks#syntax-highlighting

[2019-09-03 13:22] NetanelBasal commented on #173
You need to use `host.query`, not `host.get`.

[2019-09-03 14:08] antonpegov commented on #173
If I use

I receive null.

[2019-09-03 14:16] antonpegov commented on #173
@NetanelBasal  why I have provider for host's grandchild and have no one for host's child? It is really looks strange )

[2019-09-03 15:31] dirkluijk commented on #173
Hi Anton,

Thanks for your issue.  Your test strategy is fine, this is a perfect case to use the `SpectatorHost` strategy.

The `query()` function is meant to query *inside* the component under test. Your component under test *is* `DropzoneComponent`.

So, in your case:
* just use `host.component` to access `DropzoneComponent`
* use `host.query(DownloadComponent)` to access `DownloadComponent`

P.

[2019-09-03 16:08] antonpegov commented on #173
@dirkluijk no, it is instance of my custom HostComponent:

![test_issue](https://user-images.githubusercontent.com/11507518/64190068-d7e33d00-ce75-11e9-8768-cfc98715e605.jpg)

[2019-09-03 16:58] Rajanusa opened #174 "How to test Angular library"
Hi

Please help me test the below library.

[code]

**### The below test case written is not working.**
I am passing formGroup input field thorugh setInput as below
**spectator.setInput('formGroup', formGroup);**
but it give error as
**Error: formGroup expects a FormGroup instance. Please pass one in.**

In addition, I get the following error for setfield and ngOnInit()
TypeError: Cannot read prop

[2019-09-03 17:07] dirkluijk commented on #173
There is something weird going on here. Can you please share this issue it in a [ngRun](https://bit.ly/2zme3bj) environment, so that we can investigate it?

Other questions/comments:
* Are you sure `DropzoneComponent` is not a Directive instead of a Component?
* It makes no sense to add the `DropzoneComponent` to the `mocks` array. This will mock it, but you want to test this class. Can you remove

[2019-09-03 17:09] Rajanusa commented on #171
Hi,

Thanks for the response.
I get the following error though I pass the data.

Error: Template parse errors:
Can't bind to 'model' since it isn't a known property of 'SynapsePrimengNgxformComponent'. ("<SynapsePrimengNgxformComponent [ERROR ->][model]="model" [fields]="fields" [formGroup]="formGroup" [isJSONSchema]="true"></SynapsePrimengNgxfo"): ng:///DynamicTestModule/HostComponent.html@0:32
C

[2019-09-03 17:12] antonpegov commented on #174
@Rajanusa  wrap your code like this:

[code]

[2019-09-03 17:18] antonpegov commented on #173
@dirkluijk

no effect at all

100% sure )

[2019-09-03 18:42] Rajanusa commented on #174
Hi Anton Pegov,

as per your suggestion updated "```".
The one you refer also raised by me and could not find solution.
Please let me know the solution.

[2019-09-03 20:03] benelliott commented on #171
Can you post `SynapsePrimengNgxformComponent`?

[2019-09-03 20:12] dirkluijk commented on #168
@bekos I tried reproducing it on a clean project with only Jest and Spectator but I have no issues. What `types` do you have in `tsconfig.spec.json`?

![image](https://user-images.githubusercontent.com/2102973/64205197-b85d0c00-ce97-11e9-80fa-af7c5a47523d.png)

Can you share a repo or reproduce it [here](https://ng-run.com/edit/VIYdwKFVnEgIc2m6tQYz?test=true)?

[2019-09-03 20:14] benelliott commented on #173
@antonpegov Please can you at least post your full test source code (+ components under test) without compile errors? Also, I get the following error when trying to reproduce your test:

[code]

[2019-09-03 20:27] benelliott commented on #174
You are setting inputs after your component has already been initialised. You need to either update your component code to guard against this, or set the inputs when you create the spectator instance. You can use the `props` option of `createComponent` for this.

[2019-09-03 20:27] #174 closed

[2019-09-03 20:35] Rajanusa commented on #174
Hi

I changed the code as below but still failing

[code]

[2019-09-03 20:38] benelliott commented on #174
That doesn't work as there is no `spectator.component` before you call `createComponent`. Please read the documentation and use the `props` option as described.

[2019-09-03 21:05] Rajanusa commented on #174
Hi,

Thanks for timely response. I tried this.
Please provide your documentation link.
Is this latest [url](https://netbasal.gitbooks.io/spectator/content/components/testing-components.html)

[code]

[2019-09-03 21:58] Rajanusa opened #175 "How to mock and write full code coverage for this use case"
Hi

My unit test case for angular library using ngneat/speactor is successful but the code coverage was not 100%.
The challenge is how to to write full coverage for setField() method.

The **formlyJsonschema** is not my service and it is a third party as part of ngx-formly.

Do I need to mock "formlyJsonschema" in the following line in setField?

**this.fields = [this.formlyJsonschema.toFieldConfi

[2019-09-03 22:13] benelliott commented on #174
https://github.com/ngneat/spectator/blob/master/README.md

[2019-09-03 22:15] benelliott commented on #175
This is a question about your own application code and is not an issue with Spectator. Please refrain from opening GitHub issues for this and instead consider asking on a platform like StackOverflow, Reddit or Gitter.

[2019-09-03 22:15] #175 closed

[2019-09-03 22:38] Rajanusa commented on #175
Hi Ben Elliott,

Thanks for the timely response.
Sorry for the inconvenience.

Thanks
Raj

[2019-09-03 23:14] Rajanusa commented on #175
Hi

I changed the unit test case to cover 100%.
I created component in each "it" with isJSONSchema true/false and
pass  **detectChanges: true**

but I get this error in console.
SynapsePrimengNgxformComponent > setField - true
TypeError: Cannot read property 'type' of null
Can you please help me.

Please find my full unit test.

[code]

[2019-09-04 06:14] NetanelBasal commented on #173
If you need to obtain a reference to the components, you should use `queryHost`. Here's a complete working example:

[code]

[2019-09-04 06:14] #173 closed

[2019-09-04 07:14] irux opened #176 "[QUESTION] Mocking properties get() and set()"
Hello! A little question!

Do spectator support the spyOnProperty from jasmine ? or do we have other alternatives to mock properties ?

Thank you!

[2019-09-04 07:24] NetanelBasal commented on #176
We support it. Check out https://github.com/ngneat/spectator/blob/f0e5d7a887114cfe6e1c2f42b2c6e0629d60c7c9/projects/spectator/test/spy-object/spy-object.spec.ts#L15

[2019-09-04 07:24] #176 closed

[2019-09-04 07:26] dirkluijk commented on #176
Hi @irux ,

Yes. Spectator should not conflict with basic Jasmine/Jest functionality. As of the `mocks`, `mockProvider` and `createSpyObject` helpers, you can use `spyOnProperty` or just set the value through the setter.

* spyOnProperty(someService, 'yourProperty', 'get').and.returnValue(29);
* someService.yourProperty = 29;

[2019-09-04 09:00] antonpegov commented on #173
@NetanelBasal Thanks! It really should go as example in "Use Spectator with host" docs chapter.

[2019-09-04 09:02] dirkluijk commented on #173
Yeah, we are planning on setting up a Wiki with more "cookbook recipes" / examples 😁 .

[2019-09-04 09:16] oba93 opened #177 "Testing mouse events like double click or right click?"
Can't find how to test double click and right click in my app. It will be nice to have some documentation about this.

[2019-09-04 09:18] NetanelBasal commented on #177
You should use `dispatchEvent`. For example: `dispatchEvent(new CustomEvent('contextmenu'))`.

Maybe we can add it to our API:
[code]

@dirkluijk thoughts?

[2019-09-04 09:54] NetanelBasal commented on #177
Added new helpers - https://github.com/ngneat/spectator#mouse-helpers

[2019-09-04 09:54] #177 closed

[2019-09-04 09:59] NetanelBasal commented on #168
@bekos maybe it's an IDE issue?

[2019-09-04 10:07] oba93 commented on #177
Thanks for help.

[2019-09-04 11:24] bekos commented on #168
Sorry for the noise guys...probably something from another library interfering with the types! I created a new Nx project, just imported spectator and everything seems to work fine. Keep up the good work 👍

[2019-09-04 11:24] #168 closed

[2019-09-04 12:46] antonpegov commented on #173
@NetanelBasal I've created the sandbox and got problem after adding simple public property to Dropzone component:

[code]

But if I add  If I add "@Input()" in front of  "sampleTemplateFormats", then test will compile )

[2019-09-04 12:53] NetanelBasal commented on #173
If you're using it as Input, you require to add the Input decorator.

[2019-09-04 13:41] antonpegov commented on #173
@NetanelBasal yes, it was my stupid typo, sorry. Now I've updated my [demo](https://ng-run.com/edit/elQcVsaYbsF9eruNBd1J?open=src%2Fapp%2Fdropzone%2Fdropzone.component.spec.ts&layout=1&test=true) and want to ask you to have a look one more time - is it possible to test my case isolated (using Mocked Download component).

[code]

[2019-09-04 13:42] NetanelBasal commented on #173
This is wrong:

[code]

It should be:

`declarations: [DownloadComponentMock],`

[2019-09-04 14:00] antonpegov commented on #173
@NetanelBasal  it is not helped: [sandbox](https://ng-run.com/edit/elQcVsaYbsF9eruNBd1J)

[2019-09-04 14:53] NetanelBasal commented on #173
The sandbox doesn't work. I suggest to clone the project and override my code example. It will be easier for me to help you.

[2019-09-04 15:30] antonpegov commented on #173
@dirkluijk can you please check my sandbox.

[2019-09-04 15:56] NetanelBasal commented on #173
Your code was within `ngIf`, and you didn't use the input correctly. It should be used in the host. Here's the working example: https://ng-run.com/edit/hzVfmutVQ8dj5NGpPlTa.

I spent a lot of time helping you. Try to test your code thoroughly before you say it doesn't work. I'm sorry, this is not a StackOverflow. I hope you understand.

If things are missing from the documentation, we would love t

[2019-09-04 17:12] andy-rash opened #179 ""NullInjectorError: No provider for Location!" when using createRoutingFactory"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When trying to use `createRoutingFactory`, I get the issue seen [here](https://imgur.com/a/qXrIaPj).

#

[2019-09-05 00:02] dirkluijk commented on #179
For what I can tell you, `createRoutingFactory` does not provide a `Location` as the `RoutingTestModule` would do. Maybe we can provide a mock for this, I will investigate this for you.

Do you use a `Location` in your component?

In the mean time, I think that adding `mocks: [Location]` to your factory would fix the issue. Please let me know if that helps.

[2019-09-05 00:12] dirkluijk commented on #168
No problem. Thanks!

[2019-09-05 01:12] Rajanusa opened #180 "Unit Test on Angular Component"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The unit test of angular component fail.
Can you please help me.

## Expected behavior

## Minimal rep

[2019-09-05 05:31] NetanelBasal commented on #180
`declarations: [Component,FieldType]` <===== `FieldType`?

Next time, please add a live demo. Thanks.

[2019-09-05 05:31] #180 closed

[2019-09-05 07:11] PhiSpindler opened #181 "Provide documentation for spectator v3"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

I understand that it is easier to maintain documentation directly but it would be nice if documentation for older versions o

[2019-09-05 09:05] NetanelBasal commented on #181
https://netbasal.gitbooks.io/spectator/content/

[2019-09-05 09:05] #181 closed

[2019-09-05 15:00] Rajanusa commented on #180
Hi,

I removed component and field type from declaration but still getting error.
Please help me.
I am not sure how to create angular library with test case in stack blitz.
It create angular project but not the library.

**1. FormlyFieldsTab > handleChange
TypeError: Cannot read property 'fieldGroup' of undefined**

**2. TypeError: Cannot read property 'component' of undefined**

3. FormlyFieldsTa

[2019-09-05 15:23] andy-rash commented on #179
To answer your question, I don't use `Location` in the component. Before `createRoutingFactory` was added in v4, I used `createTestComponentFactory`, and I had run into the same problem by adding `Router` to `mocks` instead of adding `RouterTestingModule` to `imports`. Using `RouterTestingModule` usually fixed this problem. However, I should note that I found that this was only a problem in compon

[2019-09-05 15:25] mailok opened #182 "[QUESTION] Overwrite mockProvider values?"
Hello everyone. Congratulations for doing a good job with spectator!!

I have a question when I'm going to test a Service, My service uses HttpClient, so I did an HttpClient mock, of the get method which is the one I use:

[code]

but i want test a function in ConfigService, called **loadConfiguration**:

[code]

**configSuccess**  it's something like this:

[code]

the **loadConfiguration** funct

[2019-09-05 15:42] benelliott commented on #180
@Rajanusa This is an error in your application and is not related to Spectator. You have created a lot of issues in the last few days and they have all been errors in your own code. Please can you try a bit harder yourself before asking for support, and then consider other forums for it when you do, such as Reddit, Gitter or StackOverflow.

GitHub issues are intended to be used when you find an is

[2019-09-05 15:59] NetanelBasal commented on #182
You can return a different value in each `it` block.

[code]

Read about Jasmine/Jest spies/stubs.

[2019-09-05 15:59] #182 closed

[2019-09-05 16:23] Rajanusa opened #183 "Access to XMLHttpRequest at '' has been blocked by CORS policy:"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The unit test on Angular library gives CORS error

## Expected behavior

The unit test case should pas

[2019-09-05 16:24] NetanelBasal commented on #183
This is not related to Spectator in any way.

[2019-09-05 16:24] #183 closed

[2019-09-06 09:34] dirkluijk commented on #179
We do expose our `ActivatedRouteStub` so you can use that one as well. But the thing is: `createRoutingFactory` = `createRoutingFactory` + `ActivatedRouteStub`.

So, why not use `createRoutingFactory` with `Router` added to mocks but set the ` router.events`  to satisfy ` NavController`, or is that hard to do? Or what about mocking `NavController` as well?

[2019-09-06 14:47] andy-rash commented on #179
It's great that I can use that stub as a standalone, if need be, but I'd really like to just be able to use it (more or less) like I see [here](https://github.com/ngneat/spectator/blob/18d7f64a4b809d0a7bf2bf36627f777ab3b5b8e9/projects/spectator/test/with-routing/my-page.component.spec.ts#L18).

Looking at the source for `NavController` in Ionic as well as `Router` in Angular, I think I would have

[2019-09-06 22:39] selangley-wa opened #184 "Could you please document that TypeScript 3+ is required for Spectator v4?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

I have an Angular 6 project that uses Typescript 2.8.1.

Tests using Spectator v4.0.0 fail to compile

[2019-09-07 08:53] dirkluijk commented on #184
Our peer dependencies includes Angular 8+, which requires TS 3.4. Besides that, we included TS 2.8+ as peer dependency as well. Adding it to the readme may therfore not be needed?

What version are you using? Why not upgrading?

[2019-09-07 17:59] NetanelBasal commented on #184
The library [depends](https://github.com/ngneat/spectator/blob/master/projects/spectator/package.json#L35) on `"typescript": ">= 2.8.0"`. We can't see any reason to add it specifically to the docs, but I will add it. Thanks for your feedback.

[2019-09-07 17:59] #184 closed

[2019-09-07 18:01] NetanelBasal commented on #179
@andy-rash, @dirkluijk will investigate. Don't worry. You're in good hands :)

[2019-09-07 18:03] dirkluijk commented on #179
Currently on vacation but yeah, I will try to investigate asap!

[2019-09-07 18:04] NetanelBasal commented on #179
Have fun! 🌴

[2019-09-10 12:34] unlight opened #186 "Ivy Support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Trying to use [first example](https://github.com/ngneat/spectator#testing-components) of testing compon

[2019-09-10 12:39] NetanelBasal commented on #186
You are using Ivy. We didn't test the library with Ivy yet.

[2019-09-10 12:43] NetanelBasal commented on #186
We'll check it soon, and update the issue. Thanks for the report.

[2019-09-10 13:04] unlight commented on #186
I'm not sure is it really needed ivy support in unit tests.
So, I found that ivy can be disabled for unit tests `tsconfig.spec.json`
[code]
https://angular.io/guide/ivy

[2019-09-10 13:08] NetanelBasal commented on #186
And it worked?

[2019-09-10 13:24] NetanelBasal commented on #186
Could you try v4.2.2, please? I added a fix.

[2019-09-10 13:34] unlight commented on #186
Yes, it works.

And version 4.2.2 also works with `"enableIvy": true`

[2019-09-10 13:35] NetanelBasal commented on #186
Great.

[2019-09-10 13:35] #186 closed

[2019-09-17 05:31] NetanelBasal commented on #179
@andy-rash can you somehow create a small reproduction so we can test it on our side, please?

[2019-09-17 15:07] andy-rash commented on #179
@NetanelBasal Sure thing. [This](https://github.com/andy-rash/spectator-activated-route-issue) should do it.

N.B. it is an Ionic project, but that shouldn't matter for running the tests since it still uses Karma + Jasmine

[2019-09-18 18:40] dirkluijk commented on #179
Excuse me for the late reaction. I have been on vacation, but this gave me a lot of time to think about this in the back of my head! 😁 🚀

### Cause of the issue

The cause of the issue is quite simple: instead of having a real `Router`/`Location` implementation (for example, from `RouterTestingModule`), we use mocks. And a mocked `Router` does not have a `router.events` property.

### Why no `Rout

[2019-09-18 18:51] NetanelBasal commented on #179
I would go with both 2 and 3. We must add the `triggerRouterEvent` as the developers will need to test the registered callback.

[2019-09-18 19:06] dirkluijk commented on #179
I will submit a PR sometime tomorrow.

[2019-09-20 11:47] dirkluijk commented on #179
I checked the PR in the example repo, and with `stubsEnabled: false` it seems to work now. Let's merge and release it.

[2019-09-20 11:47] #179 closed

[2019-09-20 14:30] NetanelBasal commented on #179
@andy-rash are you satisfied with the solution?

[2019-09-20 15:19] andy-rash commented on #179
@NetanelBasal - very much so! Thank you and @dirkluijk for your help! You guys really are amazing examples when it comes open source project management. Keep up the good work!

[2019-09-20 15:35] dirkluijk commented on #179
Glad to hear!! 🚀

[2019-09-28 17:58] ersimont opened #191 "[question] Bootstrap entire app for integration-style test"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

Please let me know if you'd like questions asked elsewhere. Looks like there are a number of closed issues where they were w

[2019-09-28 18:10] NetanelBasal commented on #191
You can pass `declareComponent: false`.

[2019-09-29 01:55] ersimont commented on #191
Fantastic! Sorry for a long winded question that had such a simple answer. I look forward to digging in more.

[2019-09-29 01:55] #191 closed

[2019-09-30 07:40] twittwer opened #192 "Typing problem with latest updates (4.3.0->4.3.1)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Behavior

Until version 4.3.0 the following code works without a problem:
[code]

With version 4.3.1 the following line p

[2019-10-01 13:39] dirkluijk commented on #192
I got the same issue today. It is caused by this change: https://github.com/ngneat/spectator/commit/3d0931f. I already proposed to rollback that commit exactly because of this.

Will be fixed asap. In the meantime, please use 4.3.0.

[2019-10-02 09:42] dirkluijk commented on #192
Should be fixed in `4.3.3`.

[2019-10-02 09:42] #192 closed

[2019-10-04 20:27] elio-maggini opened #194 "bitly short link at top of page no longer works"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ X ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

The link to https://ng-run.com/edit/VIYdwKFVnEgIc2m6tQYz?test=true no longer works

## Expected behav

[2019-10-05 11:00] kanafghan opened #195 "Component schematics do not respect the path provided with the name"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Running `ng g cs shared/components/carousel` produces:

[code]

The spec file is moved to `shared/compo

[2019-10-05 11:03] kanafghan commented on #195
The fix for this one is very easy, we should do as done here: https://github.com/angular/angular-cli/blob/master/packages/schematics/angular/component/index.ts#L138

I can provide a PR asap.

[2019-10-05 11:09] kanafghan opened #196 "Documentation regarding setting defaults for schematics is incorrect"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently, the documentation states:

## Expected behavior

It should actually state the following:

[c

[2019-10-05 11:10] kanafghan commented on #196
I could also provide a PR to fix this 😃 .

[2019-10-05 11:39] dirkluijk commented on #194
Try again. It seems to work for me 😁

[2019-10-05 11:41] dirkluijk commented on #195
That would be awesome. 😎

[2019-10-05 15:00] elio-maggini commented on #194
This does work from my home network. I guess it is possible that my work network blocks the domain.

[2019-10-05 15:00] #194 closed

[2019-10-06 19:45] #196 closed

[2019-10-07 10:06] DuncanFaulkner opened #197 "migrate to v4"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Migration.md says: "after upgrading to v4" run spectator-migrate

## Expected behavior

expect migration

[2019-10-07 10:48] DuncanFaulkner commented on #197
Managed to run the script calling it

node node_modules/@ngneat/spectator/migrate.js

Not how the documentation describes it, though it's more likely I've not understood something.

[2019-10-07 11:01] NetanelBasal commented on #197
You are right. The document isn't correct. It's fixed. Thanks.

[2019-10-07 11:01] #197 closed

[2019-10-07 17:03] dirkluijk commented on #197
It should be possible to run `./node_modules/.bin/spectator-migrate` as well.

Not sure, but on my machine it at automatically adds `node_modules` to the current PATH. Maybe it's a zsh feature.

[2019-10-08 08:52] Maxstgt opened #198 "@custom/path can't be found"
I'm working inside of an nrwl workspace. We write our own libraries and apps. We also use the default generated paths when we import a library inside of an app like: `@costumLib/data`.
But if I want to write a simple test like
[code]
I get an error `Cannot find module '@costumLib/data' from 'app.component.ts'`
So I think there a problem with resolving the paths?

## I'm submitting a...

<pre><code

[2019-10-08 08:59] NetanelBasal commented on #198
It's not related to Spectator. Spectator doesn't resolve anything. It's a TS issue, check your TS configuration, please. You can also ask on StackOverflow.

[2019-10-08 09:03] Maxstgt commented on #198
Thanks, I will post my solution here if I find one

[2019-10-08 11:09] Maxstgt commented on #198
So the problem was, that there were no tsconfig.spec.json in the root directory. ```{
  "extends": "./tsconfig.json",
  "include": ["**/*.spec.ts", "**/*.d.ts"]
}
[code]

[2019-10-08 11:09] #198 closed

[2019-10-09 16:49] maxime1992 opened #200 "Is it possible to query from a previous result of a query?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

When I use `queryAll`, I'd like to extract values to get an array of current values that I can compared

[2019-10-09 17:24] dirkluijk commented on #200
What about array destructuring combined with `toHaveDescendantWithText()` matcher?:
[code]
or, even simplier, but less accurate:
[code]

[2019-10-10 08:29] NetanelBasal opened #202 "Add selectOption helper"
Create a helper that select a value in a select element (support multi):

`spectator.selectOption(selectSelector, id/s)`

[2019-10-10 08:31] NetanelBasal opened #203 "Add support for testing pipes"
[code]

- it should work with a host component
- it should accept a custom host component
- it should accept host props
- it should accept provider overrides

[2019-10-10 08:35] NetanelBasal opened #204 "Create a nice API for testing drag and drop components"

[2019-10-10 11:47] #195 closed

[2019-10-10 11:56] maxime1992 commented on #200
Thanks @dirkluijk, that'll help.

But I'll also give you another example. If I want to select by component, I can use the syntax `spectator.query(MyComponent)`. Now, imagine I've got 2 of them and I want to be more specific. How can I target one or the other in a simple way?

Something like `spectator.query('.first-instance-wrapper').query(MyComponent)` would be really helpful I think

[2019-10-10 12:21] dirkluijk commented on #200
I understand. The only way to do this, if that we patch the returned element with a custom `query()` method, so it will be something like `Element & { query: () => ... }`. Not sure if that will cause issues.

@NetanelBasal what do you think?

[2019-10-10 12:34] NetanelBasal commented on #200
The issue is that it will break the code. The code now returns the element.

[2019-10-10 12:49] dirkluijk commented on #200
Yes, that's what I thought. However, is returning a subtype considered a breaking change?

[2019-10-10 13:59] maxime1992 commented on #59
This has been really useful but it's nowhere in the doc. It'd be a nice addition to the readme I think

[2019-10-10 15:58] NetanelBasal commented on #59
@maxime1992 would love to see a PR.

[2019-10-10 16:34] maxime1992 commented on #59
:point_up_2: https://github.com/ngneat/spectator/pull/206

[2019-10-11 08:27] remkoboschker opened #207 "hostfactory with routing support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I can create a factory for a host and for a routing component.

## Expected behavior
I would like to cr

[2019-10-12 01:19] dirkluijk commented on #207
What would be the use case? I mean, routed components are usually rendered dynamically with `<router-outlet />`, and have no inputs/output bindings. So I think it would make less sense to test them in a template.

[2019-10-12 05:39] remkoboschker commented on #207
I would not want to use it for routed components, but for components that observe the query parameters or that navigate to a route (perhaps relative to a parent route) or that use route data and so on.

[2019-10-12 12:49] dirkluijk commented on #207
I understand. Personally, I think it's good to decouple lower-level components from routing at all. That's why I never needed this myself.

If you really want to, you can do something like this:

[code]
The `ActivatedRouteStub` can be imported from `@ngneat/spectator`. This is not documented (yet), but should work I think. Find its implementation [here](https://github.com/ngneat/spectator/blob/mas

[2019-10-12 14:49] remkoboschker commented on #207
Thank you, that is helpful

[2019-10-12 16:39] #207 closed

[2019-10-13 09:54] Coly010 commented on #202
I'll give this a whirl.

[2019-10-16 17:38] wescopeland opened #210 "Simple tests for injectables are failing with a TypeError"
## I'm submitting a...

<code>
[x] Support request
</code>

## Current behavior
Getting an error `Cannot read property 'getComponentFromError' of null` when writing basic tests for injectables (HTTP or otherwise).

## Expected behavior
No error should be displayed and the tests should pass.

## Minimal reproduction of the problem with instructions
[code]

## Environment

<pre>
<code>Angular versio

[2019-10-16 20:16] dirkluijk commented on #210
It seems not to be related to Spectator (it works [here](https://ng-run.com/edit/qQBj4XZGVxv5oPGmRIC1?test=true)).

I think it has something to do with your test setup or with Nx workspaces. Are you using Jest? Maybe check [this issue](https://github.com/nrwl/nx/issues/1439).

[2019-10-16 20:19] wescopeland commented on #210
Understood, thank you for pointing me in the right direction!

[2019-10-16 20:19] #210 closed

[2019-10-18 15:19] aleinin opened #211 "Mocking an Akita query at component creation"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Currently, I'm unable to unit test components that require services (like the akita query) to be defined

[2019-10-19 11:16] dirkluijk commented on #211
I agree that testing stuff in constructors can sometimes be hard.

However, in your case, you could simply fix it by instructing the mock *before* the creation of your component:

[code]

[2019-10-21 16:33] #202 closed

[2019-10-22 20:00] ilchenkob opened #213 "Angular build fails when there is Jest installed instead of Jasmine"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I have a project where I've completely removed Jasmine and Karma. I use Jest for unit testing. There is

[2019-10-23 21:05] dirkluijk commented on #213
Maybe this is because you imported stuff from `@ngneat/spectator` that should instead be imported from `@ngneat/spectator/jest`. Can you double check this please?

[2019-10-24 19:38] fr0 opened #214 "Upgrade from 3 -> 4: host.patchElementFocus was removed"
## I'm submitting a...

<pre><code>
[x] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Old tests that call `host.patchElementFocus` do not work.

## Expected behavior

If this was removed in

[2019-10-24 19:55] fr0 opened #215 "keyboard and mouse events should bubble"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In 3.X, I used:

[code]

However, in 4.X, this is an error: `Cannot dispatch keyboard event: [object Wi

[2019-10-25 07:38] NetanelBasal commented on #214
Docs updated, thanks.

[2019-10-25 07:38] #214 closed

[2019-10-25 07:41] NetanelBasal commented on #215
I'm not sure what's changed. We didn't touch this code.

[2019-10-25 17:09] masaanli opened #216 "createRoutingFactory routes with stubs: true (activatedRouteStub.setParam is not a function)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[x] Other... Please describe:
</code></pre>

## Current behavior

Getting an error on:
line => `spectator.setRouteParam("status", "nieuw");`
error =>  `TypeError: this.a

[2019-10-27 21:27] kekel87 opened #217 "Custom Matchers enhancement"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
[code]
[code]
[code]

## Expected behavior
- [ ] Add `array` support for selectors matchers with multipl

[2019-10-28 06:10] NetanelBasal commented on #217
Can you explain what are the use cases, please?

[2019-10-28 06:10] NetanelBasal commented on #216
@dirkluijk

[2019-10-28 08:04] kekel87 commented on #217
Yes of course, sorry.

- [ ] Add `array` support for selectors matchers with multiple results

- [ ] Add `contain` variant for Text and Value matchers

- [ ] Add `object` support for Attribute and Property

- [ ] Add `contain` support for Attribute and Property (to avoid to write `http://localhost:9876` for `src` as example)

I hope it's better explained. Thank you.

[2019-10-28 08:07] NetanelBasal commented on #217
Do you want to create a PR?

[2019-10-28 08:35] kekel87 commented on #217
Okay, I'll try this week, if I have some time.

[2019-10-28 08:52] ilchenkob commented on #213
@dirkluijk
I've double checked it before posting this issue. I had 4 spec files and all of them had imports to `@ngneat/spectator/jest' only

[2019-10-28 17:26] MrBra1nwash commented on #56
Is there any easier way to mock properties in the spectator? I am using angular + facades. So often I have
[code]

And if I want to mock `someId$` in several `it` i should override providers at the beginning of every it like:
[code]

[2019-10-29 05:22] NetanelBasal commented on #56
In V4 you can override the component's providers:

[code]

[2019-10-29 09:09] DuncanFaulkner opened #218 "testing all paths"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ X ] Support request
[ ] Other... Please describe:
</code></pre>

I currently have a number of services that handle the CRUD stuff and I want to write unit tests for these methods.

Exampl

[2019-10-29 17:54] mailok opened #219 "[QUESTION] Mock with InjectionToken"
Hello, I would like to know if it is possible to use mocks with InjectionToken, Something like that:

[code]

[2019-10-30 06:25] NetanelBasal commented on #219
You can use `mockProvider` function:

[code]

[2019-10-30 06:25] #219 closed

[2019-10-30 06:26] NetanelBasal commented on #218
Format the code, please.

[2019-10-30 06:27] NetanelBasal commented on #213
@ilchenkob, can you create a repo that reproduces the issue, please?

[2019-10-30 11:08] DuncanFaulkner commented on #218
Formatted, sorry meant to do that before posting

[2019-10-30 11:15] NetanelBasal commented on #218
You are right. You are mocking the audit service, and therefore the original code doesn't run.

[2019-10-30 11:59] DuncanFaulkner commented on #218
Ok thanks, I think I need to remove the call to the `this.audit...` as I'm not sure whether this is good design and try and find another way to write audit logs.

[2019-10-30 11:59] #218 closed

[2019-10-30 13:41] kleky opened #220 "Speed improvements"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Slow unit tests. a few hundred tests can take a few minutes

## Expected behavior
< 20 seconds

I'm a big

[2019-10-30 15:27] #220 closed, assigned to nobody

[2019-10-30 16:24] mailok opened #221 "I can't use the syntax: {provide: token, useValue: ...} in mock array"
@NetanelBasal hello, what you suggest gives me error

![error](https://user-images.githubusercontent.com/3769277/67877755-8fac6800-fb10-11e9-9c73-e392e0791940.png)

_Originally posted by @mailok in https://github.com/ngneat/spectator/issues/219#issuecomment-547973386_

[2019-10-30 16:48] NetanelBasal commented on #221
You need to add it in `providers` not in `mocks`.

[2019-10-30 16:50] NetanelBasal commented on #89
@kleky you can do a POC on your project.

[2019-10-30 17:06] #221 closed

[2019-10-30 19:19] ilchenkob commented on #213
@NetanelBasal
You can find test repo at: https://github.com/ilchenkob/jest-test

[2019-10-31 08:08] NetanelBasal commented on #213
I don't know how you configure Jest, but I just created a new CLI project and uses Jest [schematics](https://github.com/briebug/jest-schematic), and it works fine.

[2019-10-31 11:22] ekhmoi commented on #200
I think it will break compilation when someone has defined return type for query

[code]

[2019-10-31 12:31] ilchenkob commented on #213
`ng add @briebug/jest-schematic` adds Jest but it leaves `Jasmine` in the project.
So I think it should be stated somewhere in "Jest support" section that `@ngneat/spectator` supports Jest but it's required to have `Jasmine` in the project as well.

[2019-10-31 12:36] NetanelBasal commented on #213
It seems that the only thing that you need is `@types/jasmine`. @dirkluijk any thoughts on this?

[2019-10-31 12:47] ilchenkob commented on #213
Then maybe `@types/jasmine` should be added to dependencies list. What do you think about it?

[2019-10-31 12:50] NetanelBasal commented on #213
I agree. I want to verify it with @dirkluijk.

[2019-11-04 13:06] r3plica opened #222 "spectator.get(Service).observable = of('something') not being passed correctly"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[*] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
In my test, if I have a service that looks like this:

***
    import { Injectable } from '@angular/core

[2019-11-04 13:28] benelliott commented on #222
In the second, non-working version, you have already created your component before you override the observable. So the component has already seen and subscribed to the original, unmocked observable. It ignores the reassignment in the next line.

[2019-11-04 13:31] r3plica commented on #222
I was unable to find this in the documentation.

https://github.com/ngneat/spectator

The line that states `const service = spectator.get(QueryService);` talks about the the **createComponent** method but when I tried to implement that, I get an error stating that "get" is not part of Component

[2019-11-04 13:37] benelliott commented on #222
It's just a general programming thing rather than a Spectator thing :) Your component has already referenced the `category` observable, so updating it after the fact won't do much good.

You can work around this by setting `detectChanges: false` in the options you pass to `createComponentFactory`, then manually calling `spectator.detectChanges()` after you reassign the observable.

[2019-11-04 16:53] #222 closed

[2019-11-06 05:03] #215 closed

[2019-11-06 05:09] NetanelBasal commented on #213
I have added it to the latest version. Thanks.

[2019-11-06 05:09] #213 closed

[2019-11-06 05:13] NetanelBasal commented on #216
Please provide a reproduce [here](https://ng-run.com/edit/VIYdwKFVnEgIc2m6tQYz?test=true).

[2019-11-06 07:11] remkoboschker opened #223 "How would you test module forRoot and routing config using Spectator?"
I am not sure how far I should go in testing modules, but it makes sense to test forRoot / forChild functions and router config. Is this something you do or intend to support?

[2019-11-06 12:27] Dimanoid commented on #213
I had the same setup with jest without jasmine and karma and everything were fine on spectator@4.3.2, today I have updated to latest 4.5.1 and now there are a lot of conflict error between jasmine and jest types:
[code]
After rolling back to 4.3.2 error are gone.

[2019-11-07 06:47] NetanelBasal commented on #223
What do you need to test?

[2019-11-07 06:57] the0rem commented on #213
This has broken my CI at the angular build stage; Just spent the best part of the day tracking it down. Can you please revert this fix?

[2019-11-07 07:02] NetanelBasal commented on #213
@Dimanoid @the0rem I reverted this change.

[2019-11-07 07:09] the0rem commented on #213
Thanks for the quick response @NetanelBasal :)

[2019-11-07 11:16] Dimanoid commented on #213
Just checked 4.5.2, compiling ok. Thanks @NetanelBasal

[2019-11-07 11:45] remkoboschker commented on #223
I would like to test that the right component is loaded for a particular config. I solved this by using the routingspectator on the app component and then passing the app.module router config to the RouterTestingModule with useStubs to false. Then I check if the right component is rendered below the outlet. I suppose I could do the same for guards.

I would also like to test if forRoot / forChild

[2019-11-07 11:46] NetanelBasal commented on #223
I would not bother

[2019-11-07 11:47] remkoboschker commented on #223
Alright, thank you. I was wondering what bugs I would catch with this.

[2019-11-07 11:48] #223 closed

[2019-11-07 16:06] OgnenEndava opened #224 "Importing spectator after install error"
I just installed spectator ^4.5.2 in my angular project.

After this simple import:
import { Spectator } from '@ngneat/spectator';

I get the following error on ng test:
ERROR in node_modules/@ngneat/spectator/lib/spectator-directive/create-factory.d.ts(9,190): error TS2304: Cannot find name 'unknown'.
node_modules/@ngneat/spectator/lib/spectator-host/create-factory.d.ts(9,175): error TS2304: Cann

[2019-11-07 16:10] benelliott commented on #224
What version of TypeScript are you using? It looks like you may need to update.

[2019-11-07 16:12] OgnenEndava commented on #224
typescript version 2.9.2

[2019-11-07 16:33] OgnenEndava commented on #224
Is it mandatory to use version 3 or higher ?
adding "skipLibCheck": true in tsconfig removes the errors

[2019-11-07 16:35] NetanelBasal commented on #224
https://github.com/ngneat/spectator/blob/master/projects/spectator/package.json#L35

[code]

[2019-11-07 16:41] benelliott commented on #224
@NetanelBasal I think that dependency might need bumping if the type declarations have been generated with v3.0+ as they will not be backwards-compatible with v2.x. The only workaround is to disable type checking for library imports but this isn't ideal.

[2019-11-07 21:29] cjcoops opened #225 "Add support for testing select controls when ngValue is used"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[X ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Arguments for `selectOption` and `toHaveSelectedOptions` must be of type `string | string[]`. Therefore

[2019-11-08 06:21] NetanelBasal commented on #225
CC @Coly010

[2019-11-08 09:05] OgnenEndava commented on #224
Any other suggestion apart from skipLibCheck? It is not possible for me to upgrade the typescript version because of other dependencies.

[2019-11-08 10:09] benelliott commented on #224
Unfortunately not, the error is due to the introduction of new syntax introduced in TypeScript 3 such as the `unknown` keyword.

I would have thought that being stuck on TypeScript 2.x would quickly become a problem for an Angular project. Does it not limit you to a particular Angular version? What are the other dependencies that are forcing you not to update?

[2019-11-08 13:30] OgnenEndava commented on #224
It is not a personal project so the typescript upgrade is not something we can do in order to use a testing library, kind of sucks because I was looking forward to try it out.
If I could use skipLibCheck for just this library that would be possible work around.
Like this it is problematic for this project.
Thank you for the support, if you can think of some other suggestion please keep in touch!

[2019-11-08 13:30] #224 closed

[2019-11-08 14:47] dgsmith2 opened #226 "Unable to run test using Jest imports"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

I'm attempting to open a PR to add a `--jest` flag to have files generated with the import path for Jest (https://github.com

[2019-11-08 15:24] benelliott commented on #224
You could try using Spectator 2.0.2, which was the last version to be built with TypeScript 2.x. The documentation will be a bit out of sync though.

[2019-11-09 16:15] NetanelBasal commented on #226
I think it's something with your local environment. You can submit a PR.

[2019-11-10 21:27] ilchenkob commented on #213
@Dimanoid
Could you please show your `package.json`? Because I still have the same problem with 4.5.2

[2019-11-11 11:39] undsoft opened #227 "Jest Matchers gets corrupted when I install spectator"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
I've recently installed spectator and I've noticed that some methods in expect() stopped working.
For e

[2019-11-11 11:53] undsoft commented on #227
Additional piece of info.
Doing:
[code]
errors with

  Type 'Matchers<number>' is missing the following properties from type '{ resolves: AndNot<Matchers<Promise<void>, any>>; rejects: AndNot<Matchers<Promise<void>, any>>; }': resolves, rejects

but only if spectator is installed.

[2019-11-12 12:58] undsoft commented on #227
I've traced the problem to @types/jasmine actually being installed by one of the packages.
In my case it was ng-cli-pug-loader.
I was able to remove this package.

Not sure why the problem didn't manifest before installing spectator.

[2019-11-12 17:17] NetanelBasal commented on #227
It seems like you solved the issue. I'm closing it.

[2019-11-12 17:17] #227 closed

[2019-11-12 19:08] cjcoops commented on #225
@NetanelBasal I can take a look at this. Do you think the use should be as in my examples above or something like
<pre><code>
spectator.selectOption(select, 2, {ngValue: true});
expect(select).toHaveSelectedOptions(2, {ngValue: true});
</pre></code>

[2019-11-12 19:38] NetanelBasal commented on #225
As your example.

[2019-11-13 05:28] cjcoops commented on #225
Struggling to run the tests with my changes. Could you point me in the right direction? I did the following:

- Wrote a new test in `test/form-select/form-select.component.spec.ts`
<pre><code>
  it('should set the correct option on standard select with ngValue binding', () => {
    const select = spectator.query('#test-single-ngvalue-select') as HTMLSelectElement;
    spectator.selectOption(select

[2019-11-13 07:37] NetanelBasal commented on #225
Run `npm run build` first.

[2019-11-13 17:43] ynauls commented on #89
@kleky any updates? I think the same can be accomplished without ng-bullet since is just a wrapper.  I can assist also.

[2019-11-13 20:18] Coly010 commented on #225
Sorry, I know I'm weighing in a little late.

@cjcoops one thing to note about your current solution. `[ngValue]` allows for objects as well as numbers for the `option` value, therefore you may need to accommodate for that.
To do a comparison of objects, it's easiest to compare the output of running `JSON.stringify()` on both objects.

@NetanelBasal just an fyi for when reviewing the PR.

Referenc

[2019-11-13 20:44] NetanelBasal commented on #225
@cjcoops there is no need to run `npm run build`. Modify the source code and run `npm run test`.

[2019-11-14 02:18] cjcoops commented on #225
@NetanelBasal @Coly010 Thanks for your help, up and running with this and I have it working for numbers. I have a problem though when `[ngValue]` is used with objects because I am unable to select a particular `option` element.
For example suppose I had the data:
<pre><code>
const dataFormats = [
    {id: 1, format: 'dd/mm/yyyy'}
    {id: 2, format: 'mm/dd/yyyy'}
    {id: 3, format: 'yyyy/mm/dd'}

[2019-11-14 06:25] NetanelBasal commented on #225
Yes, `byText` looks good to me.

[2019-11-15 07:37] #216 closed

[2019-11-15 15:57] davidefontana commented on #213
I also have the same problem.
I tried every solution but i have the same error.

[2019-11-15 20:04] davidefontana commented on #213
Ok maybe i find a solution.
Thats because i don't exclude some files in my tsconfig.
Try add in tsconfig this
    "exclude": [
        "node_modules",
        "**/*.spec.ts"
    ]
For me works

[2019-11-18 15:16] undsoft opened #230 "Incorrect type definition for queryHostAll"
This type definition here:
https://github.com/ngneat/spectator/blob/940ec6e4de5644bcf9267bc5283ce21a78ca9ed3/projects/spectator/src/lib/spectator-host/spectator-host.ts#L44
produces double array (Element[][]) as a result.

It should be:
[code]
or

[code]

[2019-11-19 06:40] NetanelBasal commented on #230
Do you want to open a PR?

[2019-11-19 06:40] #226 closed

[2019-11-19 10:06] Sturgelose opened #231 "SpectatorHttp.expectOne fails if there are concurrent HTTP requests"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

Trying to test multiple HTTP requests with `SpectatorHttp` and `expectOne` fails with
`Error: Expected

[2019-11-20 07:00] stijnvn opened #232 "[question] How to avoid code duplication while defining mock providers?"
When converting a test to spectator, I had a test which mocks a service that exposes an observable. In my test I use a BehaviorSubject to emit values. This is working (pseudo-)code of my test:

[code]

Is it possible to avoid the providers array duplication?

I tried this:

[code]

But then the BarService is not properly registered.

And moving the createComponent statement inside the beforeEach b

[2019-11-20 21:19] #225 closed

[2019-11-23 00:30] cjcoops commented on #232
@stijnvn  Could you do this?
[code]

[2019-11-24 14:34] NetanelBasal commented on #231
I prefer a flag so that we won't make a breaking change. Do you want to create a PR?

[2019-11-25 11:45] CMadden8 opened #234 "Cannot Compile Angular if Spectator Installed using only Jest Types"
I've installed Spectator for an angular app that uses Jest for unit tests. Creating unit tests with Spectator works without any problems - but as soon as I try to compile the app, I get the below list of errors:

----------------------------------------------------------------------------------------------------------
`ERROR in ../node_modules/@ngneat/spectator/jest/lib/matchers-types.d.ts:2:13 -

[2019-11-25 13:30] CMadden8 commented on #234
Just an update on this - I've added "@types/jasmine": "^3.5.0" to package.json, which appears to solve the problem. I've checked ../node_modules/@ngneat/spectator/lib/mock.d.ts and there's no longer a complaint in the editor regarding jasmine. Compiling no longer generates the above errors either, but a new set which I believe are probably related to the project not Spectator.

I'll update if ther

[2019-11-25 13:56] NetanelBasal commented on #234
duplicate of #213

[2019-11-25 13:58] NetanelBasal commented on #234
Try https://github.com/ngneat/spectator/issues/213#issuecomment-554508333

[2019-11-25 14:38] CMadden8 commented on #234
@NetanelBasal - cheers, the suggested fix in [https://github.com/ngneat/spectator/issues/213](url) does work.

I've had to uninstall jasmine types, as they conflict with jest types.

I still think there should be something in the docs about this - it's an easy one to miss.

[2019-11-25 14:38] #234 closed

[2019-11-27 13:03] Coly010 commented on #217
I have tackled this in PR #235

[2019-11-27 14:58] tamasfoldi opened #236 "createDirectiveFactory should have directiveProviders config property"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
There is a possibility to override componentProviders, but there is no option to override directive prov

[2019-11-27 17:32] #217 closed

[2019-11-29 07:41] #231 closed

[2019-11-29 07:49] #230 closed

[2019-11-29 08:34] Sturgelose commented on #231
@NetanelBasal Hey, sorry, I've been busy this week and couldn't answer before!
I was willing to do the PR, but I haven't had time, even to answer.

Anyways, I'll see if I can help at least with another PR when I have some time, at least as a payback for implementing this issue so fast :)

Thanks, again!

[2019-11-29 10:23] lgLindstrom opened #239 "Mocking Service witch references to Service"
I have an angular component that is using a service(service1) that is dependent on another service (service2).

How do I test this using Spectator ?. Only answers I have recived involves writing a new Service1 class not having any references to Service2.  When Service1 are used in most of my components this means a lot of boiler code to write.

[code]

My testbed is looking like this.

[code]

[2019-11-29 14:39] benelliott commented on #239
The fact that `Service1` depends on `Service2` is an implementation detail of `Service1` and arguably out of scope of the tests for `Component`.

You can fix it by mocking `Service1` in a way that doesn't depend on `Service2`. If you need to reuse this mock elsewhere you can simply declare it in some shared file of test utilities and import it where needed.

[2019-11-30 16:10] #239 closed

[2019-12-02 05:09] NetanelBasal commented on #232
Create a function that returns a new `BehaviorSubject` each time:

[code]

[2019-12-02 05:09] #232 closed

[2019-12-02 05:09] NetanelBasal commented on #236
Do you want to create a PR?

[2019-12-02 08:35] tamasfoldi commented on #236
Yes I'm going to create one.

[2019-12-02 11:31] stijnvn commented on #232
@NetanelBasal How would that solve the duplication issue? You still have to define a providers array in both the argument of `createComponentFactory` and `createComponent`. Moving the `const createComponent = createComponentFactory()` inside `beforeEach` block seems the most reasonable option to me, but then the test throws an `Illegal state: Could not load the summary for directive FooComponent`

[2019-12-02 12:09] NetanelBasal commented on #232
Oh, you referring to this duplication. Sorry, this is how Angular works. It expects the provider to be declared when creating the module.

[2019-12-03 13:56] #236 closed

[2019-12-03 21:06] dedwardstech opened #241 "Support for spectator.keyboard.pressKey w/ modifier keys"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

`spectator.keyboard.pressKey('s')` only supports single key presses. There is currently not a way to fa

[2019-12-03 22:54] benelliott commented on #241
Sounds good to me, I would vote for the `+` syntax but would wait to hear what @NetanelBasal thinks!

[2019-12-04 00:31] troywweber7 opened #242 "spectator service produces no spec file"
## I'm submitting a...

[code]

## Current behavior

[code]

## Expected behavior

[code]

## Environment

[code]

[2019-12-04 06:04] NetanelBasal commented on #241
Let's be consistent and use Angular [syntax](https://netbasal.com/diy-keyboard-shortcuts-in-your-angular-application-4704734547a2):

[code]

[2019-12-04 07:07] #242 closed

[2019-12-04 09:53] benelliott commented on #241
I didn't know you could do that! Cool

[2019-12-04 12:16] dedwardstech commented on #241
Okay, I'll get the PR up today.

[2019-12-05 07:13] #241 closed

[2019-12-06 18:53] lgLindstrom commented on #239
Okay. I assumed there where support fort this use case in Spectator. Manually writing mocks for everything seems like a tedious job.
My background is java and a number of mocking frameworks supported this.

[2019-12-06 21:47] benelliott commented on #239
Could you provide a code example of how it would look in Java? I'm curious

[2019-12-07 19:21] vpArth commented on #110
Just a note: don't forget to provide correct imports to your `createRoutingFactory`:

[code]

[2019-12-11 02:51] blackholegalaxy opened #244 "How to test Renderer2 methods called"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
In one of our component, we rely on Renderer2 to inject some class on body element:
[code]

We tried to

[2019-12-11 06:22] NetanelBasal commented on #244
You need to provide a mock value:

[code]

[2019-12-11 06:22] #244 closed

[2019-12-11 16:33] blackholegalaxy commented on #244
I tried that and it still displays
[code]

it seems Renderer2 is kind of special mock

[2019-12-11 16:59] NetanelBasal commented on #244
Works fine: https://stackblitz.com/edit/angular-testing-spectator-bew49v

[2019-12-11 17:01] #204 closed

[2019-12-11 17:02] NetanelBasal commented on #200
I'm closing this issue for now.

[2019-12-11 17:18] tao-cumplido opened #245 "yarn workspaces: Could not find a declaration file for module '@testing-library/dom'"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[ ] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior

In a monorepo setup with yarn workspaces I get the following error when trying to run `ng test`

[code]

[2019-12-11 17:21] blackholegalaxy commented on #244
It's created but seems not to be "wired" on the component:

https://stackblitz.com/edit/angular-testing-spectator-gqmgeb?file=app/hello.component.spec.ts

[2019-12-11 20:37] NetanelBasal commented on #244
https://github.com/angular/angular/issues/15341

[2019-12-12 09:54] maxime1992 commented on #200
Can you explain why?

If there's no issue to track it, it will just be forgotten :thinking:

[2019-12-12 10:03] NetanelBasal commented on #245
I'm sorry, but it's not related to the library. You can ask on Stackoverflow.

[2019-12-12 23:45] blackholegalaxy commented on #244
Sorry to bother you but I don't get how to use that in the spectator context... Tried the spy method:

https://stackblitz.com/edit/angular-testing-spectator-lkx3lr?file=app/hello.component.spec.ts

I don't know where to hook the spy to ensure it's setup before component is rendered by test.

[2019-12-13 05:30] NetanelBasal commented on #244
[code]

[2019-12-13 08:42] Willey1986 opened #247 "Mocking of abstract services"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[x] Feature request
[ ] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
At the moment when passing an abstract type to the `mocks` array the following error is shown when runni

[2019-12-13 09:39] Willey1986 commented on #247
I just figured out that the second solution from the description above ***Implement the abstract class and pass the implementation to the mocks array.*** isn't working at all.

[code]

[2019-12-13 12:00] schmkr opened #248 "No provider for HttpClient error for mocked service"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[X] Support request
[ ] Other... Please describe:
</code></pre>

(not sure (yet) if this is a documentation issue/request or support request. Will update accordingly when it is clear).

##

[2019-12-13 12:05] schmkr commented on #248
🤦‍♂  Never mind. It seems the test using the old version, never instantiated the service properly.

If I use the similar pattern from v4 in v3:

[code]

Tests also fail. So at least, no regression issue.

More a support/documentation issue then: How come the tests fail with missing providers, when those missing providers are actually from the mocked service?

[2019-12-13 13:40] Wykks opened #249 "Trigger custom component event"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[X] Documentation issue or request
[ ] Support request
[ ] Other... Please describe:
</code></pre>

I saw this nice article about simulating events in angular tests: https://netbasal.com/simulating-events-in-angular-unit-tes

[2019-12-13 19:13] blackholegalaxy commented on #244
Thanks you very much. Delaying detectChanges was the missing part. Thanks for your help on that :)

[2019-12-14 16:38] blackholegalaxy opened #250 "dealing with OnPush"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Performance issue
[ ] Feature request
[x] Documentation issue or request
[x] Support request
[ ] Other... Please describe:
</code></pre>

## Current behavior
Sometimes we need to set the `OnPush` changeDetectionStrategy on some components.

But then changing inp

[2019-12-15 11:08] NetanelBasal commented on #250
Add a working example, please.

[2019-12-15 11:12] NetanelBasal commented on #249
Invoke the method:
[code]

[2019-12-15 11:12] NetanelBasal commented on #248
Could you reproduce it, please?

[2019-12-15 11:12] #245 closed

[2019-12-15 12:11] LayZeeDK commented on #249
Are you asking about custom elements with custom events or Angular components with output properties? What are you trying to dispatch and trigger?

[2019-12-16 09:14] schmkr commented on #248
Yes, it is in this repo https://github.com/schmkr/spectator--upgrade-issue/blob/master/src/services/db.service.spec.ts

[2019-12-16 11:45] NetanelBasal commented on #248
[code]

[2019-12-16 12:15] schmkr commented on #248
Thanks @NetanelBasal , that does indeed work. I am now trying to understand the difference. How come calling the factory `createService` in a beforeEach works, but when it is called from within an `it()` block it doesn't?

Because essentially, that is the only real difference, right?